@import 'tabs-personal-area'

.personal-area
	&-form
		font-size: 14px
		.accordion-button
			font-size: 15px
		.col-form-label
			font-family: 'montserratbold'
			font-weight: normal
			font-size: 14px
			text-transform: uppercase
			line-height: 40px
			padding-top: 0
			padding-bottom: 0
		.form-control
			color: $black
			font-size: 14px
			font-family: 'montserratregular'
			font-weight: normal
			padding: 14px 20px 12px
			line-height: 1
			&::placeholder
				color: $gray-600
				font-size: 14px
				font-family: 'montserratregular'
				font-weight: normal
		input + .small
			small
				font-size: 12px
				line-height: 16px
		.btn
			font-size: 14px

		.order
			&-link
				position: relative
				display: inline-block
				width: 21px
				height: 16px
				&:before
					content: ""
					display: inline-block
					position: absolute
					width: 16px
					height: 16px
					background: url(../images/slick-arrows.svg#arrow-right-black) no-repeat center center
					background-size: contain
					transition: margin-left linear 300ms
					left: 0
					top: 0
				&:hover
					&:before
						margin-left: 5px
			&-true
				display: inline-block
				width: 8px
				height: 8px
				background: url(../images/icons-order-info.svg#true) no-repeat center center
				background-size: contain
			&-false
				display: inline-block
				width: 8px
				height: 8px
				background: url(../images/icons-order-info.svg#false) no-repeat center center
				background-size: contain
		.review-menu
			display: inline-block
			width: 21px
			height: 21px
			cursor: pointer
			position: relative
			top: -1px
			margin-left: 5px
			&:before
				content: ". . ."
				font-family: 'montserratblack'
				font-size: 12px
				transform: rotate(-90deg)
				display: inline-block
				letter-spacing: -1px
	&-my-reviews
		.col-12
			&:nth-last-child(-n+1)
				.personal-area-review-item
					margin-bottom: 0

	&-review-item
		margin-bottom: 85px
		.dropdown-menu
			background-color: $gray-100
			box-shadow: none
			min-width: auto
			.dropdown-item
				color: $black
				font-size: 13px
				padding-left: 18px
				padding-right: 18px



.sales
	&-info-container
		min-height: 310px
		width: 100%
	&-logo
		background: url(../images/logo.svg#logo-black) no-repeat center center
		background-size: contain
		width: 122px
		height: 38px
		display: inline-block
	&-number
		font-family: 'montserratmedium'
		font-weight: normal
		font-size: 22px
		line-height: 1
	&-percent
		position: absolute
		left: 0
		right: 0
		bottom: 5px
		font-family: 'montserratsemibold'
		font-weight: normal
		line-height: 0
		span
			font-size: 179px
		small
			font-size: 131px
		&-bg
			background: url(../images/sales-percent-bg.png) no-repeat 0 0
			background-size: contain
			width: 177px
			height: 386px
			position: absolute
			right: 0
			top: 0
			z-index: 1

@media (min-width: 768px)
	.personal-area-form
		.accordion-button
			font-size: 16px

@media (min-width: 992px)
	.sales
		&-percent
			text-align: center
			span
				font-size: 257px
			small
				font-size: 189px
	.personal-area
		&-form
			input + .small
				small
					width: 205px
		&-my-reviews
			.col-12
				&:nth-last-child(-n+2)
					.personal-area-review-item
						margin-bottom: 0
			> *
				&:nth-child(odd)
					padding-right: 70px
				&:nth-child(even)
					padding-left: 70px

@media (min-width: 1200px)
	.personal-area-form
		.accordion-button
			font-size: 18px

@media (min-width: 1600px)
	.personal-area-form
		.accordion-button
			font-size: 20px
