.advertisment-container
    display: flex          
    justify-content: space-between
    flex-wrap: wrap

    .advertisment-card 
        width: 451px

    p 
        display: flex
        align-items: center
        justify-content: center
        padding: 34px 0
        font-size: 28px
        text-transform: uppercase
        font-family: 'montserratregular'