.mil
	&-basket
		&-container
			.col-form-label
				text-transform: uppercase
				font-size: 14px
				font-weight: normal
				font-family: 'montserratbold'

@media (min-width: 1400px)
	.mil
		&-basket
			&-your-order
				width: 340px
				background-color: $light

@media (min-width: 1600px)
	.mil
		&-basket
			&-your-order
				width: 430px
