.btn
	min-width: 121px
	font-size: 12px
	line-height: 15px
	padding: 9px
	&-outline
		&-primary
			border-color: $black
			color: $black
	&-primary
		&:hover,
		&:focus,
		&:active
			border-color: $white
			color: $primary
			background-color: $white

@media (min-width: 768px)
	.btn
		min-width: 195px
		font-size: 15px
		line-height: 18px
		padding: 18px

@media (min-width: 992px)
	.btn
		min-width: 195px

@media (min-width: 1200px)
	.btn
		min-width: 195px

@media (min-width: 1400px)
	.btn
		min-width: 195px

@media (min-width: 1600px)
	.btn
		min-width: 195px
