.btn
	min-width: 121px
	font-size: 13px
	line-height: 15px
	padding: 14px
	&-icon
		display: flex
		align-items: center
		justify-content: center
	&-outline
		&-primary
			border-color: $black
			color: $black
		&-black
			&:hover,
			&:focus,
			&:active
				border-color: $primary
				color: $white
				background-color: $primary
	&-primary
		.i
			&-filters
				background-image: url(../images/icon-filters.svg#filter-white)
		&:hover,
		&:focus,
		&:active
			border-color: $white
			color: $primary
			background-color: $white
			.i
				&-filters
					background-image: url(../images/icon-filters.svg#filter-primary)
	&-black
		&:hover,
		&:focus,
		&:active
			border-color: $primary
			color: $white
			background-color: $primary
	.i
		margin-right: 10px
		width: 16px
		height: 16px

@media (min-width: 768px)
	.btn:not(.btn-sm)
		min-width: 195px
		font-size: 15px
		line-height: 18px
		padding: 18px

@media (min-width: 992px)
	.btn
		min-width: 195px

@media (min-width: 1200px)
	.btn
		min-width: 195px

@media (min-width: 1400px)
	.btn
		min-width: 195px

@media (min-width: 1600px)
	.btn
		min-width: 195px
