.btn
	min-width: 121px
	font-size: 13px
	line-height: 15px
	padding: 14px
	&-outline
		&-primary
			border-color: $black
			color: $black
		&-black
			&:hover,
			&:focus,
			&:active
				border-color: $primary
				color: $white
				background-color: $primary
	&-primary
		&:hover,
		&:focus,
		&:active
			border-color: $white
			color: $primary
			background-color: $white
	&-black
		&:hover,
		&:focus,
		&:active
			border-color: $primary
			color: $white
			background-color: $primary

@media (min-width: 768px)
	.btn:not(.btn-sm)
		min-width: 195px
		font-size: 15px
		line-height: 18px
		padding: 18px

@media (min-width: 992px)
	.btn
		min-width: 195px

@media (min-width: 1200px)
	.btn
		min-width: 195px

@media (min-width: 1400px)
	.btn
		min-width: 195px

@media (min-width: 1600px)
	.btn
		min-width: 195px
