.mil
	&-feedback
		&-section
			height: 376px
			background: url(../images/feedback-bg.jpg) no-repeat bottom center
		&-row > *
			max-width: initial !important
			width: auto !important
		&-input
			width: 100%

@media (min-width: 768px)
	.mil
		&-feedback
			&-section
				height: 413px
			&-input
				width: 337px
				margin-bottom: 4px
			&-title
				width: 80%
@media (min-width: 992px)
	.mil
		&-feedback
			&-section
				height: 270px
			&-input
				width: 337px
				margin-bottom: 4px
			&-title
				width: 209px
@media (min-width: 1200px)
	.mil
		&-feedback
			&-section
				height: 270px
			&-input
				width: 337px
				margin-bottom: 4px
			&-title
				width: 209px
@media (min-width: 1400px)
	.mil
		&-feedback
			&-section
				height: 270px
			&-input
				width: 337px
				margin-bottom: 4px
			&-title
				width: 259px
@media (min-width: 1600px)
	.mil
		&-feedback
			&-section
				height: 270px
			&-input
				width: 337px
				margin-bottom: 4px
			&-title
				width: 452px
