footer
	font-family: 'montserratregular'
	font-weight: normal
	font-size: 13px
	line-height: 20px
	.i-social
		width: 41px
		height: 41px
		&:last-child
			margin-right: 0 !important
	.nav
		line-height: 34px
		&-link
			padding: 5px 20px
			color: $black
			&:hover
				color: $primary
	.icon-card-payments
		height: 16px
	.accordion
		&-item
			background-color: transparent
			border: none
			margin-bottom: initial
			border-bottom: 1px solid #707070
			&:last-of-type
				border-radius: 0
		&-button
			font-family: 'montserratsemibold'
			font-weight: normal
			font-size: 16px
			line-height: 19px
			text-transform: uppercase
			background: none
			box-shadow: none
			padding: 15px 20px
			&:not(.collapsed)
				background: none
				box-shadow: none
				&:after
					background-image: url(../images/nav-open.svg)
			&:after
				width: 11px
				height: 11px
				background-image: url(../images/nav-close.svg)
				background-size: contain
	.mil
		&-footer-title-menu
			font-family: 'montserratsemibold'
			font-weight: normal
			font-size: 16px
			line-height: 20px
			text-transform: uppercase
			display: flex
			align-items: center
		&-footer-phones
			margin-bottom: 0
			font-size: 18px
			line-height: 22px
			b
				font-family: 'montserratbold'
				font-weight: normal


.mil
	&-socials-container
		width: 80%
	&-footer-bottom-block
		font-family: 'montserratregular'
		font-weight: normal
		font-size: 12px
		line-height: 14px
		p
			margin-bottom: 0
	&-margin
		&-top-header
			margin-top: 82px
		&-left-side-menu
			margin-left: 0

@media (min-width: 768px)
	footer
		font-size: 13px
		line-height: 20px
		.nav
			line-height: 38px
			&-link
				padding: 5px 40px
		.accordion
			&-button
				padding: 15px 40px
		.i-social
			width: 33px
			height: 33px

	.mil
		&-socials-container
			width: 100%
		&-margin
			&-top-header
				margin-top: 91px
			&-left-side-menu
				margin-left: 0

@media (min-width: 992px)
	footer
		font-size: 14px
		line-height: 20px
		.collapse
			&:not(.show)
				display: block
		.nav
			line-height: 37px
			&-link
				padding: 0
		.mil
			&-footer-title-menu
				font-family: 'montserratbold'
				color: $black
		.accordion
			&-button
				cursor: default !important
				pointer-events: none
				padding: 15px 0
				font-family: 'montserratbold'
				color: $black
				&:after
					display: none
				&:not(.collapsed)
					color: $black
			&-item
				border-bottom: none
				&:nth-child(1)
					width: 29.44%
				&:nth-child(2)
					width: 31.37%
				&:nth-child(3)
					width: 27.09%
				&:nth-child(4)
					width: 12.1%

	.mil
		&-margin
			&-top-header
				margin-top: 91px
			&-left-side-menu
				margin-left: 0

@media (min-width: 1200px)
	footer
		font-size: 14px
		line-height: 20px
	.nav
		line-height: 37px

	.mil
		&-margin
			&-top-header
				margin-top: 91px
			&-left-side-menu
				margin-left: 261px

@media (min-width: 1400px)
	footer
		font-size: 14px
		line-height: 20px
		.i-social
			width: 28px
			height: 28px
		.nav
			line-height: 30px
		.col-footer-accordion
			width: 65.11%
		.accordion
			&-item
				&:nth-child(1)
					width: 27.54%
				&:nth-child(2)
					width: 30.39%
				&:nth-child(3)
					width: 26.87%
				&:nth-child(4)
					width: 15.2%
	.mil
		&-socials-container
			width: 60%
		&-margin
			&-top-header
				margin-top: 75px
			&-left-side-menu
				margin-left: 230px

@media (min-width: 1600px)
	footer
		font-size: 14px
		line-height: 20px
		.footer-yandex
			width: 10%
			margin-left: auto
			text-align: left
	.nav
		line-height: 30px

	.mil
		&-socials-container
			width: 46%
		&-margin
			&-top-header
				margin-top: 75px
			&-left-side-menu
				margin-left: 310px
