.h3
	font-family: 'montserratbold'

@mixin headersTag($sizes...)
	@for $i from 0 to length($sizes)
		.h#{$i + 1}
			font-size: #{nth($sizes, $i+1)}
			font-weight: normal

@include headersTag(39px, 20px, 20px, 20px, 18px)

@media (min-width: 768px)
	@include headersTag(60px, 35px, 40px, 26px, 25px)

@media (min-width: 992px)
	@include headersTag(51px, 45px, 40px, 36px, 25px)

@media (min-width: 1200px)
	@include headersTag(61px, 45px, 40px, 36px, 25px)

@media (min-width: 1400px)
	@include headersTag(71px, 60px, 40px, 36px, 30px)

@media (min-width: 1600px)
	@include headersTag(71px, 60px, 40px, 36px, 30px)
