.f
	&-bold
		font-family: 'montserratbold'
	&-black
		font-family: 'montserratblack'
	&-medium
		font-family: 'montserratmedium'
	&-semibold
		font-family: 'montserratsemibold'
	&-regular
		font-family: 'montserratregular'

.line-height-1
	line-height: 1

@mixin fontSizes($sizes...)
	@each $size in $sizes
		.f-#{$size}
			font-size: $size !important

@include fontSizes(11px,12px,13px,14px,15px,20px,25px)

.h3
	font-family: 'montserratbold'

@mixin headersTag($sizes...)
	@for $i from 0 to length($sizes)
		.h#{$i + 1}
			font-size: #{nth($sizes, $i+1)}
			font-weight: normal

@mixin classSizes($sizes...)
	@each $className, $size in $sizes
		.#{$className}
			font-size: $size !important

@include headersTag(39px, 20px, 20px, 20px, 18px, 15px, 20px)

@media (min-width: 768px)
	@include headersTag(60px, 35px, 40px, 26px, 25px, 18px, 25px)

@media (min-width: 992px)
	@include headersTag(51px, 45px, 40px, 26px, 25px, 18px, 25px)

@media (min-width: 1200px)
	@include headersTag(61px, 45px, 40px, 36px, 25px, 18px, 25px)

@media (min-width: 1400px)
	@include headersTag(71px, 60px, 40px, 36px, 30px, 18px, 25px)

@media (min-width: 1600px)
	@include headersTag(71px, 60px, 40px, 36px, 30px, 18px, 25px)
