header
	z-index: 100
	height: 82px
	.row
		height: 82px
	.dropdown-city a
		font-size: 13px !important
	.mil-offcanvas-btn
		&.open
			.i-menu
				background-image: url(../images/icon-menu.svg#open)

.mil
	&-top-side-menu
		padding-right: 20px
		background-color: $primary
		height: 100%
		a
			display: flex
			align-items: center
			text-decoration: none
			margin-right: 15px
			position: relative
			font-family: 'montserratregular'
			font-weight: normal
			font-size: 9px
			color: $white
			span
				display: inline-block
				border-radius: 100%
				background-color: $black
				line-height: 15px
				min-width: 15px
				min-height: 15px
				text-align: center
				position: absolute
				top: 14px
				left: 12px
				padding: 0 5px
			.i
				filter: invert(1)
				width: 24px
				height: 24px
				&-menu
					width: 24px
					height: 24px
				&-profile + span
					display: none
			&.mil-offcanvas-btn
				margin-right: 0

	&-header-logo
		background: url(../images/logo.svg) no-repeat center center
		background-size: contain
		width: 102px
		height: 82px
		display: block

@media (min-width: 768px)
	header
		height: 91px
		.row
			height: 91px
			.mil-offcanvas-btn
				margin-right: 35px
				.i
					&-menu
						filter: invert(1)
						width: 32px
						height: 32px

	.mil
		&-top-side-menu
			padding-left: 40px
			background-color: $light
			a
				display: flex
				align-items: center
				margin-right: 35px
				font-family: 'montserratmedium'
				font-weight: normal
				font-size: 15px
				line-height: 18px
				color: $black
				span
					line-height: 20px
					height: 18px
					background-color: transparent
					position: relative
					top: auto
					left: auto
					padding: 0
				.i
					filter: invert(0)
					width: 20px
					height: 20px
					&-profile + span
						display: inline-block
				.i + span
					margin-left: 10px

		&-header-logo
			width: 132px
			height: 91px

@media (min-width: 992px)
	header
		height: 91px
		.row
			height: 91px

	.mil
		&-header-logo
			width: 132px
			height: 91px

@media (min-width: 1200px)
	header
		height: 91px
		.row
			height: 91px

	.mil
		&-header-logo
			width: 132px
			height: 91px

@media (min-width: 1400px)
	header
		height: 75px
		.row
			height: 75px

	.mil
		&-header-logo
			width: 141px
			height: 75px

@media (min-width: 1600px)
	header
		height: 75px
		.row
			height: 75px

	.mil
		&-header-logo
			width: 141px
			height: 75px
