.i
	display: inline-block
	width: 20px
	height: 20px
	background: no-repeat center center
	background-size: contain
	&-social
		width: 28px
		height: 28px
	&-humburget
		background-image: url(../images/icon-humburger.svg)
	&-search
		background-image: url(../images/icon-search.svg)

$iconNames: 'whatsapp','telegram','basket','favorite','profile'

@each $iconName in $iconNames
	.i-#{$iconName}
		background-image: url("../images/icons-sprite.svg##{$iconName}-black")
		&.i-black
			background-image: url("../images/icons-sprite.svg##{$iconName}-black")
		&.i-gray
			background-image: url("../images/icons-sprite.svg##{$iconName}-gray")
		&.i-white
			background-image: url("../images/icons-sprite.svg##{$iconName}-white")
		&.active,
		&:hover
			background-image: url("../images/icons-sprite.svg##{$iconName}-hover")

$iconSocials: 'instagram','fb','vk','ok','twitter','pinterest','youtobe'

@each $iconName in $iconSocials
	.i-#{$iconName}
		background-image: url("../images/icons-social-sprite.svg##{$iconName}-gray")
		&.i-black
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-black")
		&.i-gray
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-gray")
		&.i-white
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-white")
		&.active,
		&:hover
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-hover")
