.i
	display: inline-block
	width: 20px
	height: 20px
	background: no-repeat center center
	background-size: contain
	&-social
		width: 28px
		height: 28px
	&-menu
		background-image: url(../images/icon-menu.svg#close)
	&-search
		background-image: url(../images/icon-search.svg)
	&-page
		width: 28px
		height: 28px
		&-prev
			background-image: url(../images/icon-page.svg#prev-black)
		&-next
			background-image: url(../images/icon-page.svg#next-black)
	&-close
		background-image: url(../images/icon-close.svg)
	&-filters
		background-image: url(../images/icon-filters.svg#filter-black)
	&-reset
		background-image: url(../images/icon-filters.svg#reset-primary)
	&-sm
		width: 16px
		height: 16px

a[href]
	&:hover
		.i
			&-filters
				background-image: url(../images/icon-filters.svg#filter-white)

$iconNames: 'whatsapp','telegram','basket','favorite','profile','gift'

@each $iconName in $iconNames
	.i-#{$iconName}
		background-image: url("../images/icons-sprite.svg##{$iconName}-black")
		&.i-black
			background-image: url("../images/icons-sprite.svg##{$iconName}-black")
		&.i-secondary
			background-image: url("../images/icons-sprite.svg##{$iconName}-secondary")
		&.i-white
			background-image: url("../images/icons-sprite.svg##{$iconName}-white")
		&.i-primary,
		&.active,
		&[href]:hover
			background-image: url("../images/icons-sprite.svg##{$iconName}-primary")
	a[href]
		.i-#{$iconName}
			&:hover
				background-image: url("../images/icons-sprite.svg##{$iconName}-primary")

$iconSocials: 'instagram','fb','vk','ok','twitter','pinterest','youtobe'

@each $iconName in $iconSocials
	.i-#{$iconName}
		background-image: url("../images/icons-social-sprite.svg##{$iconName}-secondary")
		&.i-black
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-black")
		&.i-secondary
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-secondary")
		&.i-white
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-white")
		&.i-primary,
		&.active,
		&[href]:hover
			background-image: url("../images/icons-social-sprite.svg##{$iconName}-primary")
	a[href]
		.i-#{$iconName}
			&:hover
				background-image: url("../images/icons-social-sprite.svg##{$iconName}-primary")
