.bg-image
    background-image: url("/src/images/press-bg.png")
    height: 550px
    position: relative

.press-title-container
    top: -50%
    width: 100%
    z-index: 1000
.press-mail-color
    color: $primary
