.page
	&-arrow
		.page-link
			&:hover
				background-color: $white
	&-link
		min-width: 28px
		height: 28px
		line-height: 28px
		text-align: center
		margin: 0 2px
		&:hover
			.i-page
				&-prev
					background-image: url(../images/icon-page.svg#prev-primary)
				&-next
					background-image: url(../images/icon-page.svg#next-primary)
	&-item
		&.disabled
			.i-page
				&-prev
					background-image: url(../images/icon-page.svg#prev-secondary)
				&-next
					background-image: url(../images/icon-page.svg#next-secondary)
