.promotion
	&-badge
		&-date
			position: absolute
			bottom: 284px
			left: 50%
			transform: translate(-50%, 0)
		&-tags
			.badge
				text-decoration: none
				color: $white
				margin-right: 15px
				line-height: 25px
	&-title-image
		height: 296px
		margin-left: -20px
		width: calc(100% + 40px)
		background: no-repeat center center
		background-size: cover
		position: relative
		&:before
			content: ""
			display: block
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background-color: rgba(0, 0, 0, 0.5)
		&-container
			position: relative
			margin-left: -20px
			width: calc(100% + 40px)
			color: $black

	&-preview-item
		margin-bottom: 5px
		&-image
			background: no-repeat center center
			background-size: cover
			margin-right: 5px
			min-height: 190px
			width: 100%
		&-text
			width: 100%
			padding: 50px 20px
			font-size: 14px
			display: flex
			flex-direction: column
			margin-right: 5px
			&.bg-primary
				color: $white
				a
					color: $white
					&:after
						background-image: url(../images/slick-arrows.svg#arrow-right-white)
			a
				margin-top: auto
				text-decoration: none
				color: $black
				font-family: 'montserratsemibold'
				font-weight: normal
				&:after
					content: ""
					display: inline-block
					width: 20px
					height: 8px
					margin-left: 9px
					margin-bottom: 1px
					background: url(../images/slick-arrows.svg#arrow-right-black) no-repeat center center
					background-size: contain
					transition: margin-left linear 300ms
				&:hover
					&:after
						margin-left: 14px


@media (min-width: 768px)
	.promotion
		&-title-image
			height: 452px
			margin-left: -40px
			width: calc(100% + 75px)
			&-container
				color: $white
				margin-left: -40px
				width: calc(100% + 75px)
				.promotion-title
					position: absolute
					z-index: 2
					bottom: 110px
		&-preview-item
			&-image
				margin-right: 5px
			&-text
				min-width: 420px
				max-width: 4200px
				min-height: 550px
				padding: 100px 55px 100px 55px
		&-badge
			&-date
				position: absolute
				bottom: -11px
				left: 40px
				transform: none
			&-tags
				position: absolute
				bottom: -11px
				right: 20px
				.badge
					line-height: 1

@media (min-width: 992px)
	.promotion
		&-badge
			&-date
				left: 45px
			&-tags
				right: 0
		&-title-image
			margin-left: -45px
			width: calc(100% + 85px)
			&-container
				margin-left: -45px
				width: calc(100% + 65px)
		&-preview-item
			&-image
				margin-right: 5px
			&-text
				min-width: 550px
				max-width: 550px
				min-height: 550px
				padding: 110px 100px 110px 70px
				font-size: 14px
				margin-right: 5px

@media (min-width: 1200px)
	.promotion
		&-badge
			&-date
				left: 60px
		&-title-image
			margin-left: -60px
			width: calc(100% + 100px)
			&-container
				margin-left: -60px
				width: calc(100% + 80px)

@media (min-width: 1400px)
	.promotion
		&-badge
			&-date
				left: 70px
		&-title-image
			margin-left: -70px
			width: calc(100% + 110px)
			&-container
				margin-left: -70px
				width: calc(100% + 90px)

@media (min-width: 1600px)
	.promotion
		&-badge
			&-date
				left: 90px
		&-title-image
			margin-left: -90px
			width: calc(100% + 130px)
			&-container
				margin-left: -90px
				width: calc(100% + 110px)
