.shops-scroll
    max-height: 620px
    margin-bottom: 165px
    &::-webkit-scrollbar
        width: 5px
        height: auto

    &::-webkit-scrollbar-track
        background: #F6F6F8

    &::-webkit-scrollbar-thumb
        background-color: $black

// @media (min-width: 1440px)
//     .shops-scroll
//         width: 50%

// @media (max-width: 1024px)
//     .shops-scroll
//         width: 100%
