.shops-scroll
    max-height: 620px
    margin-bottom: 165px
    &::-webkit-scrollbar
        width: 5px
        height: auto

    &::-webkit-scrollbar-track
        background: #F6F6F8

    &::-webkit-scrollbar-thumb
        background-color: $black

@media screen and ( max-width: 576px )
    .shops-column
        flex-direction: column
    .mb-21
        margin-bottom: 60px !important
    .nav-link
        padding: 0
    .p-mb
        margin-bottom: 40px
    .dropdown-toggle
        display: inline-block
