html
	height: 100%

body
	height: 100%

header
	flex: 0 0 auto

main
	flex: 1 0 auto

footer
	flex: 0 0 auto

.mil
	&-menu-width
		width: 142px

.ps__rail-y
	top: 0 !important

.ps__rail-x,
.ps__rail-y
	opacity: 1 !important

.ps__thumb-y
	background-color: $black
	border-radius: 0
	right: 0
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y
	background-color: $black
	width: 100%

.mil-search-input
	padding-left: 30px
	background: url(../images/icon-search.svg) no-repeat left center

@media (min-width: 768px)
	.mil
		&-menu-width
			width: 303px

@media (min-width: 992px)
	.mil
		&-search-input
			width: 301px
		&-menu-width
			width: 303px

@media (min-width: 1200px)
	.mil
		&-search-input
			width: 386px
		&-menu-width
			width: 261px

@media (min-width: 1400px)
	.mil
		&-search-input
			width: 307px
		&-menu-width
			width: 230px

@media (min-width: 1600px)
	.mil
		&-search-input
			width: 337px
		&-menu-width
			width: 310px
