include ../../molecules/main-product-carousel-item

mixin MainProductCarouselRight()
	section.mil-main-product-carousel-section
		.mil-main-product-carousel-bg
			h2.h1.text-white.text-uppercase.title женщинам
		.mil-main-product-carousel-slick-arrows
		.mil-main-product-carousel-container
			.mil-main-product-carousel-slick
				+MainProductCarouselItem({
					image: 'images/woman-slide-01.jpg',
					name: 'Ботинки / 202454-3-110W',
					price: '10 990 ₽'
				})
				+MainProductCarouselItem({
					image: 'images/woman-slide-02.jpg',
					name: 'Сапоги / 202431-2-110W',
					price: '12 990 ₽',
					hit: true
				})
				+MainProductCarouselItem({
					image: 'images/woman-slide-03.jpg',
					name: 'Ботинки / 202433-1-110W',
					price: '9 990 ₽'
				})
				+MainProductCarouselItem({
					image: 'images/woman-slide-04.jpg',
					name: 'Ботинки … / 202454-3-110W',
					price: '13 990 ₽',
					sale: {
						price: '5 990 ₽',
						percent: '-20%'
					},
					new: true
				})
				+MainProductCarouselItem({
					image: 'images/woman-slide-01.jpg',
					name: 'Ботинки / 202454-3-110W',
					price: '10 990 ₽'
				})
				+MainProductCarouselItem({
					image: 'images/woman-slide-02.jpg',
					name: 'Сапоги / 202431-2-110W',
					price: '12 990 ₽'
				})
