include ../../molecules/main-mil-carousel-item

mixin MainCarousel()
	section
		.mil-carousel.slide
			.mil-carousel-arrows
			.mil-main-carousel
				+MainMilCarouselItem({
					title: 'коллекция зима- весна 2021',
					description: 'Во всех магазинах MILANA'
				})
				+MainMilCarouselItem({
					title: 'коллекция зима- весна, весна - лето, лето - осень, осень - зима 2021',
					description: 'Во всех магазинах MILANA'
				})
				+MainMilCarouselItem({
					title: 'коллекция зима- весна 2021',
					description: 'Во всех магазинах MILANA'
				})
