include ../../molecules/main-center-carousel-item

mixin MainCenterCarousel(data)
	section.mil-main-center-carousel-section
		.mil-main-center-carousel
			.mil-main-center-carousel-slick
				each item in data
					+MainCenterCarouselItem(item)
