include ../../molecules/main-mil-carousel-item

mixin MainCarousel()
	section
		.mil-carousel.slide
			.mil-carousel-arrows
			.mil-main-carousel
				+MainMilCarouselItem()
				+MainMilCarouselItem()
				+MainMilCarouselItem()
