extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../atoms/input
include ../atoms/metro-icon
include ../molecules/shop-address
include ../organisms/basket/choose-shop

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pt-15.ps-17.pe-9
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Корзина'],
				title: 'Корзина',
				classTitle: 'mb-10'
			})

			.row.mil-basket-container.f-14px.mb-38.mt-5(data-sticky-container)
				.col.flex-grow-1.flex-shrink-1.mb-xxl-18.mb-10
					.row
						.col-12
							h2.h7.text-uppercase.f-bold.mb-12 Оформление заказа
						label.col-md-4.col-form-label.mb-6 Мои данные
						.col-xxxl-5.col-md-6.mb-6
							+Input({
								id: 'text1',
								errorText: 'Заполните поле'
							})(placeholder="Фамилия")
						.col-xxxl-5.col-md-6.offset-md-4.mb-6
							+Input({
								id: 'text2',
								errorText: 'Заполните поле'
							})(placeholder="Имя")
						.col-xxxl-5.col-md-6.offset-md-4.mb-6
							+Input({
								id: 'text3',
								errorText: 'Заполните поле'
							})(placeholder="Отчество")
						label.col-md-4.col-form-label.mb-6 Телефон
						.col-xxxl-5.col-md-6.mb-6
							+Input({
								id: 'text4',
								errorText: 'Заполните поле'
							})(data-mask="+7 (999) 999-99-99" class="profile-phone" placeholder="+7 (___) ___-__-__")
						label.col-md-4.col-form-label.mb-6 e-mail
						.col-xxxl-5.col-md-6.mb-6
							+Input({
								id: 'text5',
								errorText: 'Заполните поле'
							})(class="mb-2")
							.small
								+RadioCheckbox({
									type: 'checkmark',
									title: 'Быть в курсе новинок и акций Milana Shoes',
									id: 'newsletters',
									checked: true
								})
						label.col-md-4.col-form-label.mb-6 Город доставки
						.col-xxxl-5.col-md-6.mb-6
							input.form-control.bg-light(type="text")
						label.col-md-4.col-form-label.mb-6 способ доставки
						.col-md-8.mb-6
							+RadioCheckbox({
								type: 'radio',
								title: 'Самовывоз',
								id: 'radio1',
								name: 'deliveryMethod',
								checked: true
							})
							.f-13px.text-dark.mb-6 Вы можете самостоятельно забрать заказ из нашего магазина.
							+RadioCheckbox({
								type: 'radio',
								title: 'Доставка курьером',
								id: 'radio2',
								name: 'deliveryMethod'
							})
							.f-13px.text-dark.mb-6 Доставка осуществляется в течение дня в удобное для вас время.
							+RadioCheckbox({
								type: 'radio',
								title: 'Почта России',
								id: 'radio3',
								name: 'deliveryMethod'
							})
							.f-13px.text-dark.mb-6 Доставка осуществляется в течение дня в удобное для вас время.
						label.col-md-4.col-form-label.mb-6 пункт самовывоза
						.col-md-4.mb-6.pe-1
							button.btn.btn-black.btn-sm(type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasChooseShop" aria-controls="offcanvasChooseShop") Выбрать пункт
						.col-md-4.mb-6.ps-1
							+ShopAddress({
								shopName: 'выходной',
								metroIconColor: '#943F90',
								metroName: 'Жулебино',
								shopAddress: 'г. Люберцы, Октябрьский пр., 112',
								shopPhones: '+7 (499) 2888-06-94'
							})
						label.col-md-4.col-form-label.mb-6 способ оплаты
						.col-md-8.mb-6
							+RadioCheckbox({
								class: 'mb-3',
								type: 'radio',
								title: 'Самовывоз',
								id: 'radio4',
								name: 'paymentMethod',
								checked: true
							})
							+RadioCheckbox({
								class: 'mb-3',
								type: 'radio',
								title: 'Доставка курьером',
								id: 'radio5',
								name: 'paymentMethod'
							})
							+RadioCheckbox({
								class: 'mb-3',
								type: 'radio',
								title: 'Почта России',
								id: 'radio6',
								name: 'paymentMethod'
							})
						label.col-md-4.col-form-label.mb-6 комментарий
						.col-md-8.mb-6
							textarea.form-control.bg-light(rows="8" placeholder="Комментарий к заказу")
				.col-xxl-auto.flex-grow-0.flex-shrink-0
					.mil-basket-your-order.mt--5
						.mil-basket-your-order.pt-xxl-11.pb-xxl-15.px-xxxl-18.px-xxl-9.basket-sticky-container.mt-xxl-5
							.row
								label.col-xxl-12.col-md-4.col-form-label.mb-6.f-xxl-25px Ваш заказ
								.col-xxl-12.col-md-8.mb-7
									.row.mb-3
										.col-6.pe-1 Товар на:
										.col-6.ps-1 13 998 ₽
										.col-6.pe-1 Скидка:
										.col-6.ps-1 3 250 ₽
										.col-6.pe-1 Доставка:
										.col-6.ps-1 450 ₽
									.row.mb-3
										.col-2.pe-1.f-semibold Итого:
										.col-4.px-1.text-end.f-12px
											s 16 947
										.col-6.ps-1.f-semibold 13 998 ₽
								.col-xxl-12.col-md-8.offset-xxl-0.offset-md-4.mb-7
									+ShopAddress({
										shopName: 'выходной',
										metroIconColor: '#943F90',
										metroName: 'Жулебино',
										shopAddress: 'г. Люберцы, Октябрьский пр., 112',
										shopPhones: '+7 (499) 2888-06-94'
									})
								.col-xxl-12.col-md-8.offset-xxl-0.offset-md-4.mb-9
									.row.mb-3
										.col-6.pe-1 Способ оплаты:
										.col-6.ps-1.f-semibold картой
									.row.mb-3
										.col-6.pe-1 Срок хранения:
										.col-6.ps-1 7 дней
								.col-xxl-12.col-md-8.mb-6.d-xxl-block.d-none
									a.btn.btn-primary.btn-sm.w-100(href="#") Оформить заказ
				.col-12.mil-basket-footer-col
					+RadioCheckbox({
						class: 'align-items-stretch mil-agreement-check mb-14',
						type: 'checkbox',
						checked: true,
						title: 'Нажимая кнопку «Отправить», я принимаю условия <a href="#">Публичной оферты</a> и даю свое согласие на обработку моих персональных данных на условиях и для целей, определенных в <a href="#">Согласии на обработку персональных данных</a>'
					})
					a.btn.btn-black.btn-sm.w-100.mb-0(href="#") Оформить заказ

		+ChooseShop()
		+Feedback()
