extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pt-15.ps-17.pe-9
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Корзина'],
				title: 'Корзина',
				classTitle: 'mb-10'
			})

			.row.mil-basket-container.f-14px
				.col-xxl-8
					.row
						.col-12
							h2.h7.text-uppercase.f-bold.mb-12 Оформление заказа
						label.col-lg-4.col-form-label.mb-6 Мои данные
						.col-lg-5.mb-6
							input.form-control.bg-light(type="text" placeholder="Фамилия" aria-describedby="text1" required)
							.invalid-feedback#text1 Заполните поле
						.col-lg-5.offset-lg-4.mb-6
							input.form-control.bg-light(type="text" placeholder="Имя" aria-describedby="text2" required)
							.invalid-feedback#text2 Заполните поле
						.col-lg-5.offset-lg-4.mb-6
							input.form-control.bg-light(type="text" placeholder="Отчество" aria-describedby="text3" required)
							.invalid-feedback#text3 Заполните поле
						label.col-lg-4.col-form-label.mb-6 Телефон
						.col-lg-5.mb-6
							input.form-control.bg-light.profile-phone(type="text" placeholder="+7 (___) ___-__-__" data-mask="+7 (999) 999-99-99")
						label.col-lg-4.col-form-label.mb-6 e-mail
						.col-lg-5.mb-6
							input.form-control.bg-light.mb-2(type="text" placeholder="")
							.small
								+RadioCheckbox({
									type: 'checkmark',
									title: 'Быть в курсе новинок и акций Milana Shoes',
									id: 'newsletters',
									checked: true
								})
						label.col-lg-4.col-form-label.mb-6 Город доставки
						.col-lg-5.mb-6
							input.form-control.bg-light(type="text")
						label.col-lg-4.col-form-label.mb-6 способ доставки
						.col-lg-8.mb-6
							+RadioCheckbox({
								type: 'radio',
								title: 'Самовывоз',
								id: 'radio1',
								name: 'deliveryMethod',
								checked: true
							})
							.f-13px.text-dark.mb-6 Вы можете самостоятельно забрать заказ из нашего магазина.
							+RadioCheckbox({
								type: 'radio',
								title: 'Доставка курьером',
								id: 'radio2',
								name: 'deliveryMethod'
							})
							.f-13px.text-dark.mb-6 Доставка осуществляется в течение дня в удобное для вас время.
							+RadioCheckbox({
								type: 'radio',
								title: 'Почта России',
								id: 'radio3',
								name: 'deliveryMethod'
							})
							.f-13px.text-dark.mb-6 Доставка осуществляется в течение дня в удобное для вас время.
						label.col-lg-4.col-form-label.mb-6 пункт самовывоза
						.col-lg-8.mb-6
							button.btn.btn-black.btn-sm(type="button") Выбрать пункт
						label.col-lg-4.col-form-label.mb-6 способ оплаты
						.col-lg-8.mb-6
							+RadioCheckbox({
								class: 'mb-3',
								type: 'radio',
								title: 'Самовывоз',
								id: 'radio4',
								name: 'paymentMethod',
								checked: true
							})
							+RadioCheckbox({
								class: 'mb-3',
								type: 'radio',
								title: 'Доставка курьером',
								id: 'radio5',
								name: 'paymentMethod'
							})
							+RadioCheckbox({
								class: 'mb-3',
								type: 'radio',
								title: 'Почта России',
								id: 'radio6',
								name: 'paymentMethod'
							})
						label.col-lg-4.col-form-label.mb-6 комментарий
						.col-lg-8.mb-6
							textarea.form-control.bg-light(rows="8")
				.col-xxl-4
					.bg-light.pt-11.pb-15.px-18
						label.col-lg-4.col-form-label.mb-6 Ваш заказ
						.col-xxl-12.col-lg-8.mb-6
							a.btn.btn-primary.btn-sm.w-100(href="#") Оформить заказ


		+Feedback()
