extends ../templates/layout
include ../organisms/feedback
include ../molecules/breadcrumb
include ../organisms/product-carousel
include ../molecules/rating-stars

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+Breadcrumb(['Главная', 'Каталог', 'Женщинам', 'Женские ботфорты'])

			.row
				.col-12
					.slider_for_good
						div
				.col-12
					.f-14px.text-primary.text-uppercase New
					h1.h5.text-uppercase.f-bold Женские ботфорты
					p.f-13px.mb-8 артикул:  211404-1-810F
					+RatingStars(2)(class="d-flex align-items-center mb-3")
						span.f-13px.ms-1 10
					.d-flex.align-items-center
						span.f-27px.f-semibold.me-6 10 990 ₽
						a.f-10px.text-decoration-none.text-body(href="#") Сообщить о снижении цены
					div
						ul.mil-product-preview-item-sizes.opacity-100
							li 35
							li.disable 36
							li 37
							li 38
							li.disable 39
							li 40
							li 41

			.accordion.row.justify-content-between
				.accordion-item.col-12.col-lg-auto.flex-fill
					h2.accordion-header#cardProductHeading1
						button.accordion-button.text-uppercase.h7.after-none(type="button" data-bs-toggle="collapse" data-bs-target="#cardProduct1" aria-expanded="true" aria-controls="cardProduct1") характеристики
					.accordion-collapse.collapse.show#cardProduct1
						.accordion-body.row.f-13px
							.col-7.text-gray-light
								p Сезон
								p Страна производитель
								p Вид застёжки
								p Цвет
								p Тип каблука
								p Перфорация
							.col-5.flex-fill
								p Деми
								p Турция
								p Молния
								p Черный
								p низкий (до 4 см)
								p нет
				.accordion-item.col-12.col-lg-auto.flex-fill
					h2.accordion-header#cardProductHeading2
						button.accordion-button.text-uppercase.h7.after-none(type="button" data-bs-toggle="collapse" data-bs-target="#cardProduct2" aria-expanded="true" aria-controls="cardProduct2") Материал
					.accordion-collapse.collapse.show#cardProduct2
						.accordion-body.row.f-13px
							.col-7.text-gray-light
								p Материал верха
								p Материал подкладки
								p Материал стельки
								p Материал подошвы
							.col-5
								p велюр
								p ворсин
								p ворсин
								p термоэластопласт
				.accordion-item.col-12.col-lg-3
					h2.accordion-header#cardProductHeading3
						button.accordion-button.text-uppercase.h7.after-none(type="button" data-bs-toggle="collapse" data-bs-target="#cardProduct3" aria-expanded="true" aria-controls="cardProduct3") Измерения
					.accordion-collapse.collapse.show#cardProduct3
						.accordion-body.row.f-13px
							.col-10.text-gray-light
								p Высота голенища, см
								p Обхват голенища, см
								p Высота каблука, см
								p Полнота
								p Толщина подошвы, см
							.col-2
								p 35
								p 36
								p 7.0
								p с
								p 2
				.accordion-item.col-12
					h2.accordion-header#cardProductHeading
						button.accordion-button.text-uppercase.h7.after-none(type="button" data-bs-toggle="collapse" data-bs-target="#cardProduct" aria-expanded="true" aria-controls="cardProduct") Описание
					.accordion-collapse.collapse.show#cardProduct
						.accordion-body
							p Пудровые ботфорты на платформе, изготовлены из натуральной кожи, дополнены каблуком танкетка, с классической застежкой.
		.mil-previously-you-watched
			+ProductCarousel({
				titleClass: 'f-black title-h',
				title: 'ранее вы смотрели',
				type: 'right',
				items: [
					{
						image: 'images/woman-slide-01.jpg',
						name: 'Ботинки / 202454-3-110W',
						price: '10 990 ₽',
						isSizes: true
					},
					{
						image: 'images/woman-slide-02.jpg',
						name: 'Сапоги / 202431-2-110W',
						price: '12 990 ₽',
						hit: true,
						isSizes: true
					},
					{
						image: 'images/woman-slide-03.jpg',
						name: 'Ботинки / 202433-1-110W',
						price: '9 990 ₽',
						isSizes: true
					},
					{
						image: 'images/woman-slide-04.jpg',
						name: 'Ботинки … / 202454-3-110W',
						price: '13 990 ₽',
						sale: {
							price: '5 990 ₽',
							percent: '-20%'
						},
						new: true,
						isSizes: true
					},
					{
						image: 'images/woman-slide-01.jpg',
						name: 'Ботинки / 202454-3-110W',
						price: '10 990 ₽',
						isSizes: true
					},
					{
						image: 'images/woman-slide-02.jpg',
						name: 'Сапоги / 202431-2-110W',
						price: '12 990 ₽',
						isSizes: true
					}
				]
			})
		+Feedback()
