extends ../templates/layout
include ../organisms/product-carousel
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../molecules/pagination
include ../organisms/catalog/filters

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+Breadcrumb(['Главная', 'Каталог', 'Женщинам', 'Женские ботфорты'])
			.d-flex.mb-10.align-items-start.flex-column.flex-md-row.catalog-title-container
				h1.h3.text-uppercase.mb-md-0.catalog-title.mb-6 Женские ботфорты
					sup 95
				button.navbar-toggler.btn.btn-primary.btn-sm.ms-md-auto.d-xl-none.btn-icon(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCatalogFilter" aria-controls="navbarNavDarkDropdown" aria-expanded="false")
					i.i.i-filters
					| Уточнить
				.not-hide-nav-item.nav-item.dropdown.ms-auto.d-xxl-none.d-xl-block.d-none
					a.nav-link.dropdown-toggle.f-13px#navbarOrderTablet(href="#" role="button" aria-haspopup="true" aria-expanded="false") Сортировать
					.dropdown-menu.dropdown-menu-end.ps-11.py-9.pe-11.f-13px
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Сначала дешевые
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Сначала дорогие
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Сначала со скидкой
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Сначала новинки
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Сначала популярные
						a.d-block.text-nowrap.text-decoration-none.text-black(href="#") По убыванию артикула
			+CatalogFilters()
			.row.row-cols-xxxl-5.row-cols-xxl-4.row-cols-lg-3.row-cols-md-2.row-cols-2.mx-md-0
				- var items = [{image: 'images/woman-slide-01.jpg',name: 'Ботинки / 202454-3-110W',price: '10 990 ₽', isSizes: true},{image: 'images/woman-slide-02.jpg',name: 'Сапоги / 202431-2-110W',price: '12 990 ₽',hit: true, isSizes: true},{image: 'images/woman-slide-03.jpg',name: 'Ботинки / 202433-1-110W',price: '9 990 ₽', isSizes: true},{image: 'images/woman-slide-04.jpg',name: 'Ботинки … / 202454-3-110W',price: '13 990 ₽',sale: {price: '5 990 ₽',percent: '-20%'},new: true, isSizes: true},{image: 'images/woman-slide-01.jpg',name: 'Ботинки / 202454-3-110W',price: '10 990 ₽', isSizes: true}]
				- var id = 0
				each item in [...items, ...items, ...items, ...items]
					.col.mb-8.ps-md-0.pe-md-1.px-md-5.px-0-1
						+ProductPreviewItem(item, id++)
			+Pagination()
		.mil-previously-you-watched
			+ProductCarousel({
				titleClass: 'f-black title-h',
				title: 'ранее вы смотрели',
				type: 'right',
				items: [
					{
						image: 'images/woman-slide-01.jpg',
						name: 'Ботинки / 202454-3-110W',
						price: '10 990 ₽',
						isSizes: true
					},
					{
						image: 'images/woman-slide-02.jpg',
						name: 'Сапоги / 202431-2-110W',
						price: '12 990 ₽',
						hit: true,
						isSizes: true
					},
					{
						image: 'images/woman-slide-03.jpg',
						name: 'Ботинки / 202433-1-110W',
						price: '9 990 ₽',
						isSizes: true
					},
					{
						image: 'images/woman-slide-04.jpg',
						name: 'Ботинки … / 202454-3-110W',
						price: '13 990 ₽',
						sale: {
							price: '5 990 ₽',
							percent: '-20%'
						},
						new: true,
						isSizes: true
					},
					{
						image: 'images/woman-slide-01.jpg',
						name: 'Ботинки / 202454-3-110W',
						price: '10 990 ₽',
						isSizes: true
					},
					{
						image: 'images/woman-slide-02.jpg',
						name: 'Сапоги / 202431-2-110W',
						price: '12 990 ₽',
						isSizes: true
					}
				]
			})
		+Feedback()
