extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/tabs-personal-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'Избранное'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			+TabsPersonalArea({activeHref: 'favorites.html'})
			.row.row-cols-xxxl-5.row-cols-xxl-4.row-cols-lg-3.row-cols-md-2.row-cols-1.mx-0
				- var items = [{image: 'images/woman-slide-01.jpg',name: 'Ботинки / 202454-3-110W',price: '10 990 ₽', isSizes: true},{image: 'images/woman-slide-02.jpg',name: 'Сапоги / 202431-2-110W',price: '12 990 ₽',hit: true, isSizes: true},{image: 'images/woman-slide-03.jpg',name: 'Ботинки / 202433-1-110W',price: '9 990 ₽', isSizes: true},{image: 'images/woman-slide-04.jpg',name: 'Ботинки … / 202454-3-110W',price: '13 990 ₽',sale: {price: '5 990 ₽',percent: '-20%'},new: true, isSizes: true},{image: 'images/woman-slide-01.jpg',name: 'Ботинки / 202454-3-110W',price: '10 990 ₽', isSizes: true}]
				- var id = 0
				each item in [...items, ...items, ...items, ...items]
					.col.mb-8.ps-md-0.pe-md-1.px-5
						+ProductPreviewItem(item, id++)(class="show-sizes")
			+Pagination()

		+Feedback()
