extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../molecules/breadcrumb
include ../atoms/image

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+Breadcrumb(['Главная', 'Покупателям', 'Полезная информация', 'Зима в тепле: лучшая коллекция перчаток'])
			.row
				.col-xxxl-6.col-xxl-8.col-xl-7.pe-xxxl-14.helpful-information-or-news-item
					h1.h3.text-uppercase.mb-6 Зима в тепле: лучшая коллекция перчаток
					div
						.badge.bg-primary.f-15px.px-3.py-2.me-9.mb-3 23.01.2021
						.d-block.d-md-none.mb-0
						a.badge.btn-black.f-15px.px-3.py-2.me-3.mb-3.text-decoration-none(href="#") #советы
						a.badge.btn-black.f-15px.px-3.py-2.me-3.mb-3.text-decoration-none(href="#") #обувь

					+Img({src: "images/news-item-image.jpg"})(class="d-xl-none full-image")
					.text-justify
						p Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Задача организации, в особенности же новая модель организационной деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации.
						p.h6.text-uppercase.f-bold где их взять?
						p <a href="#">Задача организации</a>, в особенности же консультация с широким активом требуют от нас <b>анализа существенных</b> финансовых и административных условий. Товарищи! реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет выполнять важные задания по разработке направлений прогрессивного развития. Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же рамки и место обучения кадров позволяет оценить значение модели развития. Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки новых предложений.
						ul
							li <u>Задача организации</u>, в особенности же консультация с широким активом требуют от нас анализа существенных финансовых и административных условий.
							li <i>Товарищи!</i> реализация намеченных плановых заданий представляет собой интересный эксперимент проверки направлений прогрессивного развития. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий позволяет выполнять важные задания по разработке направлений прогрессивного развития. Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же рамки и место обучения кадров позволяет оценить значение модели развития.
							li Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверк
				.col-xxxl-6.col-xxl-4.col-xl-5.ps-xxxl-14
					+Img({src: "images/news-item-image.jpg"})(class="d-none d-xl-block")
		+Feedback()
