extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/tabs-personal-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'История заказов'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'history-of-orders.html'})
				.personal-area-form
					.table-responsive.mb-20
						table.table.table-striped.table-borderless
							thead.table-dark
								tr
									td № заказа
									td Дата и время заказа
									td Статус
									td Способ оплаты
									td Сумма
									td
							tbody
								tr
									th 258591
									td 14.02.2020 12:14
									td Новый
									td Оплата наличными при получении
									td 6 999 руб.
									td
										a.order-link(href="#")
								tr
									th 359592
									td 11.02.2020 16:25
									td Закрыт
									td
										i.order-false.me-1
										span Оплата банковской картой
									td 2 499 руб.
									td
										a.order-link(href="#")
								tr
									th 359592
									td 11.02.2020 16:25
									td Закрыт
									td
										i.order-true.me-1
										span Оплата банковской картой
									td 2 499 руб.
									td
										a.order-link(href="#")
								tr
									th 359592
									td 11.02.2020 16:25
									td Закрыт
									td
										i.order-false.me-1
										span Оплата банковской картой
									td 2 499 руб.
									td
										a.order-link(href="#")
								tr
									th 359592
									td 11.02.2020 16:25
									td Закрыт
									td
										i.order-true.me-1
										span Оплата банковской картой
									td 2 499 руб.
									td
										a.order-link(href="#")
		+Feedback()
