extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../molecules/mil-history-item

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pt-15.ps-17.pe-9
			- var historyItems = [{title: '2001', text: 'Марка MILANA создана в 2001. Главный дизайнер марки с момента ее основания - итальянец Эмилио Паскани. Начало деятельности компании MILANA в России связано с открытием офиса продаж в г. Москве.'}, {title: '2003', text: 'Открытие дополнительного офиса продаж в г. Санкт-Петербурге.'}, {title: '2005', text: 'Открытие дополнительного офиса продаж в Беларуси, в г. Минске.'}, {title: '2007', text: 'Формируется 4 линии коллекции обуви Fashion, Classic, Comfort, Active, каждая из которых присутствует в новых коллекциях по сей день. Компания становится членом Национального Обувного Союза России, преследуя цели союза по обеспечению прозрачного и законного развития обувной отрасли в РФ.'}, {title: '2008', text: 'Открытие первого фирменного салона MILANA в России. Запуск производства фирменных женских сумок MILANA.'}, {title: '2009', text: 'Запуск производства мужской обуви MILANA.'}, {title: '2010', text: 'Запуск производства фирменных мужских сумок MILANA.'}, {title: '2011', text: 'Открытие интернет-магазина www.milana-shoes.ru Открытие программы франчайзинга. Запуск производства фирменных аксессуаров MILANA (клатчи, платки)'}, {title: '2012', text: 'Запуск производства фирменных аксессуаров MILANA (кошельки, ремни). Открытие первого фирменного салона MILANA в Казахстане'}, {title: '2013', text: 'Открыт первый фирменный салон MILANA в Беларуси.'}, {title: '2019', text: '35 фирменных салонов MILANA в России и странах СНГ.'}]
			+BreadcrumbAndTitle({breadcrumb: ['Главная', 'Компания', 'История'], title: 'История', classTitle: 'mb-10'})
			each historyItem in [...historyItems]
				+MilHistoryItem(historyItem)
		+Feedback()