extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../molecules/mil-history-item
include ../molecules/pagination

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			- var historyItems = [{title: '2001', text: '<p>Марка MILANA создана в 2001. Главный дизайнер марки с момента ее основания - итальянец Эмилио Паскани. Начало деятельности компании MILANA в России связано с открытием офиса продаж в г. Москве.</p>'}, {title: '2003', text: '<p>Открытие дополнительного офиса продаж в г. Санкт-Петербурге.</p>'}, {title: '2005', text: '<p>Открытие дополнительного офиса продаж в Беларуси, в г. Минске.</p>'}, {title: '2007', text: '<p>Формируется 4 линии коллекции обуви Fashion, Classic, Comfort, Active, каждая из которых присутствует в новых коллекциях по сей день. Компания становится членом Национального Обувного Союза России, преследуя цели союза по обеспечению прозрачного и законного развития обувной отрасли в РФ.</p>'}, {title: '2008', text: '<p>Открытие первого фирменного салона MILANA в России.</p><p>Запуск производства фирменных женских сумок MILANA.</p>'}, {title: '2009', text: '<p>Запуск производства мужской обуви MILANA.</p>'}, {title: '2010', text: '<p>Запуск производства фирменных мужских сумок MILANA.</p>'}, {title: '2011', text: '<p>Открытие интернет-магазина www.milana-shoes.ru</p><p>Открытие программы франчайзинга.</p><p>Запуск производства фирменных аксессуаров MILANA (клатчи, платки)</p>'}, {title: '2012', text: '<p>Запуск производства фирменных аксессуаров MILANA (кошельки, ремни).</p><p>Открытие первого фирменного салона MILANA в Казахстане</p>'}, {title: '2013', text: '<p>Открыт первый фирменный салон MILANA в Беларуси.</p>'}, {title: '2019', text: '<p>35 фирменных салонов MILANA в России и странах СНГ.</p>'}]
			+BreadcrumbAndTitle({breadcrumb: ['Главная', 'Компания', 'История'], title: 'История', classTitle: 'mb-10'})
			.container-fluid
				.row.align-item-stretch
					each historyItem in [...historyItems]
						+MilHistoryItem(historyItem)
					.mb-pagination.justify-content-center
						+Pagination()
		+Feedback()