extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../organisms/company/tabs-media-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({breadcrumb: ['Главная', 'Компания', 'Медиа'], title: 'Медиа', classTitle: 'mb-10'})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'media-press.html'})
		section.press-section.px-4.px-md-0
			.press-bg-image
			.press-content-container.me-md-7.ms-md-8.mx-lg-auto
				h2.press-title пресса и блоггеры
				.press-content.f-14px.mb-17.mb-md-0.text-md-center
					.mb-8
						p Вам нужны обувь и аксессуары на съемки?
							br
							| Вы готовите материал о модных тенденциях, и ищете что-нибудь оригинальное?
							br
							| Вы организовываете модный показ и хотите сотрудничать с нами?
							br
							| Пожалуйста, отправьте ваш запрос по поводу сотрудничества
					.mb-8
						div +7 (495) 215-24-41 доб. 106
						div +7 (903) 669-14-15
					a(href="#") reklama@milana-shoes.ru
		+Feedback()
