extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../organisms/company/tabs-media-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({breadcrumb: ['Главная', 'Компания', 'Медиа'], title: 'Медиа', classTitle: 'mb-10'})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'media-press.html'})
		.press-bg-image
			.press-title-container.pl-sm-0
				h1.h2.f-57px.f-bold.d-block.text-left.align-items-left.text-uppercase.press-title.m-0.p-0 пресса и блоггеры
				.col-9.col-xxxl-8.d-block.press-bg-container.text-left.d-sm-flex.flex-column
					.d-flex.flex-column.press-text-container.mb-14.align-items-center.f-regular.d-sm-flex
						p.f-14px Вам нужны обувь и аксессуары на съемки?
						p.f-14px.text-md-center Вы готовите материал о модных тенденциях, и ищете что-нибудь оригинальное?
						p.f-14px Вы организовываете модный показ и хотите сотрудничать с нами?
						p.f-14px Пожалуйста, отправьте ваш запрос по поводу сотрудничества
					.d-flex.flex-column.press-subtext-container.align-items-left.d-sm-flex
						.d-flex.flex-column
							p.f-14px.f-regular.text-left +7 (495) 215-24-41 доб. 106
							p.f-14px.f-regular.mb-10.text-left +7 (903) 669-14-15
						p.f-14px.f-semibold.press-mail-color.text-left reklama@milana-shoes.ru
		+Feedback()