extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../organisms/company/tabs-media-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({breadcrumb: ['Главная', 'Компания', 'Медиа'], title: 'Медиа', classTitle: 'mb-10'})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'media-press.html'})
		.press-bg-image
			.press-title-container
				h1.h3.f-57px.f-bold.d-block.text-center.align-items-center.text-uppercase.press-title.text-sm-left пресса и блоггеры
				.col-9.col-xxxl-8.d-block.press-bg-container.text-sm-left.text-center.align-items-center.d-sm-flex.flex-column
					.d-flex.flex-column.press-text-container.mb-14.text-sm-left.text-center.align-items-center.f-regular.d-sm-flex
						p.f-14px.text-center Вам нужны обувь и аксессуары на съемки?
						p.f-14px.text-center Вы готовите материал о модных тенденциях, и ищете что-нибудь оригинальное?
						p.f-14px.text-center Вы организовываете модный показ и хотите сотрудничать с нами?
						p.f-14px.text-center Пожалуйста, отправьте ваш запрос по поводу сотрудничества
					.d-flex.flex-column.press-subtext-container.text-sm-left.text-center.align-items-center.align-items-center.d-sm-flex
						.d-flex.flex-column
							p.f-14px.text-center.f-regular +7 (495) 215-24-41 доб. 106
							p.f-14px.text-center.f-regular.mb-10 +7 (903) 669-14-15
						p.f-14px.text-center.f-semibold.press-mail-color reklama@milana-shoes.ru
		+Feedback()