extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/personal-area/tabs-personal-area
include ../atoms/radio-checkbox

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'Рассылки'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'mailings.html'})
				.personal-area-form.mb-22
					form#form1
						h2.f-20px.f-bold.text-uppercase.mb-4 Настройки почтовой рассылки
						p.mb-9 Подписываясь на рассылку магазина, Вы принимаете условия договора публичной оферты
						.col-12.col-md-5.col-xl-4.mb-9
							input.form-control.bg-light(type="text" placeholder="E-mail *" aria-describedby="text1" required)
							.invalid-feedback#text1 Заполните поле
						p.mb-6 Выберите рассылки:
						.container-fluid
							.row.mb-7
								+RadioCheckbox({
									type: 'checkbox',
									title: 'Новости и акции. Женщины',
									id: 'checkbox1',
									checked: true,
									class: 'mb-4 me-10 col-md-auto'
								})
								+RadioCheckbox({
									type: 'checkbox',
									title: 'Новости и акции. Мужчины',
									id: 'checkbox2',
									class: 'mb-4 me-10 col-md-auto'
								})
								+RadioCheckbox({
									type: 'checkbox',
									title: 'Арендодатели',
									id: 'checkbox3',
									class: 'mb-4 me-10 col-md-auto'
								})
								+RadioCheckbox({
									type: 'checkbox',
									title: 'Оптовики',
									id: 'checkbox4',
									class: 'mb-4 me-10 col-md-auto'
								})
								+RadioCheckbox({
									type: 'checkbox',
									title: 'Франчайзи',
									id: 'checkbox5',
									class: 'mb-4 col-md-auto'
								})
						.mb-4
							button.btn.btn-black.btn-sm.px-15.me-md-6.mb-4.w-100.w-md-auto Подписаться на рассылку
							button.btn.btn-outline-black.btn-sm.px-9.mb-4.w-100.w-md-auto Отменить подписку
						.mb-22.col-12.col-md-7
							.f-12px.text-secondary.text-justify После добавления или изменения адреса подписки, Вам будет выслано письмо со ссылкой, для проверки e-mail'а. Подписка будет не активной до перехода по ссылке.
					form#form2
						h2.f-20px.f-bold.text-uppercase.mb-4 Настройки sms рассылки
						.col-12.col-md-7
							p.mb-9 Обратите внимание, при подписке на оповещения о статусе заказов и доставки, оповещения будут приходить на номер телефона, указанный при оформлении заказа.
						.col-12.col-md-5.col-xl-4.mb-9
							input.form-control.bg-light.profile-phone(type="text" placeholder="Ваш номер телефона *" data-mask="+7 (999) 999-99-99")
							.invalid-feedback#text2 Заполните поле
						p.mb-6 Выберите рассылки:
						.container-fluid
							.row.mb-7
								+RadioCheckbox({
									type: 'checkbox',
									title: 'Новости и акции',
									id: 'checkbox6',
									checked: true,
									class: 'mb-4 me-10 col-md-auto'
								})
								+RadioCheckbox({
									type: 'checkbox',
									title: 'Статус заказов и доставки',
									id: 'checkbox7',
									class: 'mb-4 col-md-auto'
								})
						.mb-4
							button.btn.btn-black.btn-sm.px-15.me-md-6.mb-4.w-100.w-md-auto Подписаться на рассылку
							button.btn.btn-outline-black.btn-sm.px-9.mb-4.w-100.w-md-auto Отменить подписку

		+Feedback()
