extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/personal-area/tabs-personal-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'Рассылки'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'mailings.html'})
				.personal-area-form
					h2.f-20px.f-bold.text-uppercase.mb-4 Настройки почтовой рассылки
					p.mb-9 Подписываясь на рассылку магазина, Вы принимаете условия договора публичной оферты
					.col-4.mb-9
						input.form-control.bg-light(type="text" placeholder="E-mail *" aria-describedby="text1" required)
						.invalid-feedback#text1 Заполните поле
					p.mb-6 Выберите рассылки:

					h2.f-20px.f-bold.text-uppercase.mb-4 Настройки sms рассылки
					.col-7
						p.mb-9 Обратите внимание, при подписке на оповещения о статусе заказов и доставки, оповещения будут приходить на номер телефона, указанный при оформлении заказа.
					.col-4.mb-9
						input.form-control.bg-light.profile-phone(type="text" placeholder="Ваш номер телефона *" data-mask="+7 (999) 999-99-99")
						.invalid-feedback#text2 Заполните поле
					p.mb-6 Выберите рассылки:

		+Feedback()
