extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/personal-area/tabs-personal-area
include ../atoms/radio-checkbox
include ../atoms/input

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-lg-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'Профиль'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'profile.html'})
				.personal-area-form
					.row
						.col-12.col-xxxl-10
							form.row.g-2.mb-26.needs-validation(novalidate)
								.col-lg-6
									.row
										label.col-lg-4.col-form-label.mb-6 Мои данные
										.col-lg-8.mb-6
											+Input({
												id: 'text1',
												errorText: 'Заполните поле'
											})(class="is-invalid" placeholder="Фамилия")
										.col-lg-8.offset-lg-4.mb-6
											+Input({
												id: 'text2',
												errorText: 'Заполните поле'
											})(placeholder="Имя")
										.col-lg-8.offset-lg-4.mb-6
											+Input({
												id: 'text3',
												errorText: 'Заполните поле'
											})(placeholder="Отчество")
										label.col-lg-4.col-form-label.mb-5 Пол
										.col-lg-8.mb-5
											.row.mt-1
												.col-auto
													+RadioCheckbox({
														type: 'radio',
														title: 'Мужской',
														id: 'sex_man',
														name: 'sex',
														checked: true
													})
												.col-auto
													+RadioCheckbox({
														type: 'radio',
														title: 'Женский',
														id: 'sex_woman',
														name: 'sex'
													})
										label.col-lg-4.col-form-label.mb-6 Телефон
										.col-lg-8.mb-6
											+Input({
												id: 'text4',
												errorText: 'Заполните поле'
											})(data-mask="+7 (999) 999-99-99" class="profile-phone" placeholder="+7 (___) ___-__-__")
										label.col-lg-4.col-form-label.mb-6 e-mail
										.col-lg-8.mb-6
											+Input({
												id: 'text3',
												errorText: 'Заполните поле'
											})(class="mb-2 is-invalid")
											.small
												+RadioCheckbox({
													type: 'checkmark',
													title: 'Быть в курсе новинок и акций Milana Shoes',
													id: 'newsletters',
													checked: true
												})
										label.col-lg-4.col-form-label.mb-6 дата рождения
										.col-lg-8.mb-6
											+Input({
												id: 'text5',
												errorText: 'Заполните поле'
											})(data-mask="99-99-9999" class="mb-2" placeholder="дд-мм-гггг")
											.small.text-secondary.d-flex.align-items-center
												i.i.i-gift.i-secondary.me-1.mb-1
												small Укажи дату рождения и получай приятные бонусы к празднику.
								.col-lg-6
									.row
										label.col-lg-2.col-form-label.mb-6.offset-lg-2 Адрес
										.col-lg-8.mb-6
											+Input({
												id: 'text6',
												errorText: 'Заполните поле'
											})(placeholder="Город")
										.col-lg-8.offset-lg-4.mb-6
											+Input({
												id: 'text7',
												errorText: 'Заполните поле'
											})(placeholder="Улица")
										.col-lg-8.offset-lg-4.mb-6
											+Input({
												id: 'text8',
												errorText: 'Заполните поле'
											})(placeholder="Дом")
										.col-lg-8.offset-lg-4.mb-6
											+Input({
												id: 'text9',
												errorText: 'Заполните поле'
											})(placeholder="Корпус")
										.col-lg-8.offset-lg-4.mb-6
											+Input({
												id: 'text10',
												errorText: 'Заполните поле'
											})(placeholder="Квартира")
										.col-lg-8.offset-lg-4.mb-10
											+Input({
												id: 'text11',
												errorText: 'Заполните поле'
											})(placeholder="Индекс")
										.col-lg-8.offset-lg-4.mb-4
											button.btn.btn-outline-black.btn-sm.w-100(type="button") Сменить пароль
										.col-lg-8.offset-lg-4.mb-4
											button.btn.btn-black.btn-sm.w-100(type="submit") Сохранить


		+Feedback()
