extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/personal-area/tabs-personal-area
include ../atoms/radio-checkbox

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-lg-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'Профиль'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'profile.html'})
				.personal-area-form
					.row
						.col-12.col-xxxl-10
							form.row.g-2.mb-26.needs-validation(novalidate)
								.col-lg-6
									.row
										label.col-lg-4.col-form-label.mb-6 Мои данные
										.col-lg-8.mb-6
											input.form-control.bg-light(type="text" placeholder="Фамилия" aria-describedby="text1" required)
											.invalid-feedback#text1 Заполните поле
										.col-lg-8.offset-lg-4.mb-6
											input.form-control.bg-light(type="text" placeholder="Имя" aria-describedby="text2" required)
											.invalid-feedback#text2 Заполните поле
										.col-lg-8.offset-lg-4.mb-6
											input.form-control.bg-light(type="text" placeholder="Отчество" aria-describedby="text3" required)
											.invalid-feedback#text3 Заполните поле
										label.col-lg-4.col-form-label.mb-5 Пол
										.col-lg-8.mb-5
											.row.mt-1
												.col-auto
													+RadioCheckbox({
														type: 'radio',
														title: 'Мужской',
														id: 'sex_man',
														name: 'sex',
														checked: true
													})
												.col-auto
													+RadioCheckbox({
														type: 'radio',
														title: 'Женский',
														id: 'sex_woman',
														name: 'sex'
													})
										label.col-lg-4.col-form-label.mb-6 Телефон
										.col-lg-8.mb-6
											input.form-control.bg-light.profile-phone(type="text" placeholder="+7 (___) ___-__-__" data-mask="+7 (999) 999-99-99")
										label.col-lg-4.col-form-label.mb-6 e-mail
										.col-lg-8.mb-6
											input.form-control.bg-light.mb-2(type="text" placeholder="")
											.small
												+RadioCheckbox({
													type: 'checkmark',
													title: 'Быть в курсе новинок и акций Milana Shoes',
													id: 'newsletters',
													checked: true
												})
										label.col-lg-4.col-form-label.mb-6 дата рождения
										.col-lg-8.mb-6
											input.form-control.bg-light.mb-2(type="text" placeholder="дд-мм-гггг" data-mask="99-99-9999")
											.small.text-secondary.d-flex.align-items-center
												i.i.i-gift.i-secondary.me-1.mb-1
												small Укажи дату рождения и получай приятные бонусы к празднику.
								.col-lg-6
									.row
										label.col-lg-2.col-form-label.mb-6.offset-lg-2 Адрес
										.col-lg-8.mb-6
											input.form-control.bg-light(type="text" placeholder="Город")
										.col-lg-8.offset-lg-4.mb-6
											input.form-control.bg-light(type="text" placeholder="Улица")
										.col-lg-8.offset-lg-4.mb-6
											input.form-control.bg-light(type="text" placeholder="Дом")
										.col-lg-8.offset-lg-4.mb-6
											input.form-control.bg-light(type="text" placeholder="Корпус")
										.col-lg-8.offset-lg-4.mb-6
											input.form-control.bg-light(type="text" placeholder="Квартира")
										.col-lg-8.offset-lg-4.mb-4
											input.form-control.bg-light(type="text" placeholder="Индекс")
										.col-lg-8.offset-lg-4.mb-4
											button.btn.btn-outline-black.btn-sm.w-100(type="button") Сменить пароль
										.col-lg-8.offset-lg-4.mb-4
											button.btn.btn-black.btn-sm.w-100(type="submit") Сохранить


		+Feedback()
