extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/personal-area/tabs-personal-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'Возвраты'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'refunds.html'})
				.personal-area-form
					form.row.align-items-center
						.col-12.order-0
							label.mb-8 Выберите номер заказа для оформления возврата:
						.mb-5.col-xxxl-3.col-xxl-4.col-lg-5.col-md-6.order-1
							select.form-select.bg-light
								option № заказа
						.mb-5.col-xxxl-3.col-xxl-4.col-lg-5.col-md-6.order-3.order-md-2
							button.btn.btn-black.btn-sm.w-100.py-2 Запросить бланк на возврат товара
						.col-12.order-4
						.col-xxxl-3.col-xxl-4.col-lg-5.col-md-6.col-12.order-2.order-md-5
							.f-12px.text-secondary
								p После того как Вы указали номер заказа,  на Вашу почту придёт заполненный бланк на возврат товара.

					.accordion.mb-38#accordion1
						.accordion-item
							h2.accordion-header#heading1
								button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1") Условия возврата Товара надлежащего качества
							.accordion-collapse.collapse.show#collapse1(aria-labelledby="heading1" data-bs-parent="#accordion1")
								.accordion-body.text-justify
									p <b>Отказ от Товара.</b> Покупатель вправе отказаться от заказанного Товара в любое время до его получения, а после получения Товара - в течение 14 дней. Возврат Товара надлежащего качества возможен в случае, если:

									p -- сохранены товарный вид (упаковка, ярлыки), потребительские свойства товара,
										br
										| -- в наличии документ, подтверждающий факт и условия покупки указанного Товара (кассовый / товарный чек).
										br
										| -- товар не был в употреблении, сохранены фабричные ярлыки и пломбы.

									p <strong>Удержание суммы доставки.</strong> При отказе Покупателя от заказанного Товара Продавец удерживает из суммы, уплаченной Покупателем за Товар расходы Продавца на доставку от Покупателя возвращённого товара. Расходы на доставку определяются тарифами компании, осуществляющей доставку.

									p Покупатель вправе вернуть Товар ненадлежащего качества в течение 30 календарных дней с момента приобретения. Фактом приобретения является дата в кассовом чеке, а в случае курьерской/почтовой доставки – дата получения товара. Возврат Товара ненадлежащего качества возможен в случае:

									p -- в наличии документ, подтверждающий факт и условия покупки указанного Товара (кассовый / товарный чек).
										br
										| -- заполнено заявление на возврат

									p <b>Экспертиза.</b> Экспертиза проводится в срок до 20 дней с момента получения товара отделом претензий. Компания оставляет за собой право отклонить претензию на возврат по результатам экспертизы в следующих случаях:

									p -- Товар ношенный и без дефектов
										br
										| -- Товар ношенный с дефектом в течение гарантийного срока, но брак непроизводственный
										br
										|-- Товар ношенный с дефектом после окончания гарантийного срока
										br
										|-- Товар ношенный с дефектом, но заключение, сделанное независимой экспертизой за счет покупателя, свидетельствует в пользу продавца.
						.accordion-item
							h2.accordion-header#heading2
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2") Для оформления возврата необходимы
							.accordion-collapse.collapse#collapse2(aria-labelledby="heading2" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading3
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3") Процедура возврата Товара из Регионов
							.accordion-collapse.collapse#collapse3(aria-labelledby="heading3" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading4
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4") Условия возврата денежных средств.
							.accordion-collapse.collapse#collapse4(aria-labelledby="heading4" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading5
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5") Процедура возврата денежных средств.
							.accordion-collapse.collapse#collapse5(aria-labelledby="heading5" data-bs-parent="#accordion1")
								.accordion-body.text-justify

		+Feedback()
