extends ../templates/layout
include ../organisms/feedback
include ../molecules/pagination
include ../organisms/breadcrumb-and-title
include ../molecules/product-preview-item
include ../organisms/personal-area/tabs-personal-area

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({
				breadcrumb: ['Главная', 'Личный кабинет', 'Скидки'],
				title: 'Личный кабинет',
				classTitle: 'mb-10'
			})
			div(data-sticky-container)
				+TabsPersonalArea({activeHref: 'sales.html'})
				.personal-area-form
					.row.mb-20
						.col-12.col-lg-5.pe-1
							.sales-info-container.bg-light
								.row
									.col-12.col-md-6.text-center
										.sales-logo.mt-22
									.col-12.col-md-6
										.mt-22.text-center.text-md-start
											.mb-2 Размер скидки
											.mb-8.sales-number 10%
											.mb-2 До следующей скидки
											.mb-8.sales-number 11 100 ₽
						.col-lg-7.ps-0.d-none.d-lg-block
							.sales-info-container.bg-light.position-relative.w-100
								.sales-percent-bg
								.sales-percent
									span 10
									small %

					.accordion.mb-38#accordion1
						.accordion-item
							h2.accordion-header#heading1
								button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1") Какие скидки и льготы даёт дисконтная карта MILANA?
							.accordion-collapse.collapse.show#collapse1(aria-labelledby="heading1" data-bs-parent="#accordion1")
								.accordion-body.text-justify
									p Дисконтная карта выдается персоналом салона MILANA покупателям, которые сделали покупку на сумму от 5 000 рублей. Карта дает право на получение 10% скидки на все последующие покупки. По мере накопления пороговой суммы, Вы получаете более значительную скидку. При подсчете учитывается как разовая покупка, так и общая сумма ваших покупок за длительный период.
									p Кроме того, каждый владелец дисконтной карты получает право участвовать в акциях с ценными подарками.
									p Дополнительная информация о новых поступлениях в салон MILANA, сроках и условиях проведения рекламных акций публикуется на сайте компании www.milana-shoes.ru
						.accordion-item
							h2.accordion-header#heading2
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2") Как происходит накопление суммы покупок и увеличение скидок?
							.accordion-collapse.collapse#collapse2(aria-labelledby="heading2" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading3
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3") Кто может пользоваться дисконтными картами MILANA?
							.accordion-collapse.collapse#collapse3(aria-labelledby="heading3" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading4
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4") Как действует дисконтная карта во время рекламных акций и распродаж, а так же в дисконт-центрах компании MILANA?
							.accordion-collapse.collapse#collapse4(aria-labelledby="heading4" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading5
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5") Каков срок действия дисконтных карт?
							.accordion-collapse.collapse#collapse5(aria-labelledby="heading5" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading6
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6") Где получить дисконтную карту MILANA?
							.accordion-collapse.collapse#collapse6(aria-labelledby="heading6" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading7
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7") Что делать, если потеряли дисконтную карту?
							.accordion-collapse.collapse#collapse7(aria-labelledby="heading7" data-bs-parent="#accordion1")
								.accordion-body.text-justify
						.accordion-item
							h2.accordion-header#heading8
								button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8") Что делать, если я не хочу получать SMS рассылку?
							.accordion-collapse.collapse#collapse8(aria-labelledby="heading8" data-bs-parent="#accordion1")
								.accordion-body.text-justify

		+Feedback()
