extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../atoms/metro-icon
include ../molecules/shop-address
include ../atoms/input
include ../organisms/shops-list
include ../molecules/pagination

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pe-md-7.pe-lg-8.pt-7.pt-md-13.pt-xxl-16.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.px-4
			+BreadcrumbAndTitle({breadcrumb: ['Главная', 'Магазины'], title: 'Магазины', classTitle: 'mb-6'})
			.nav-item.p-0.col-12.shops-column.d-flex.mb-21.col-sm-12
				.col-6.d-flex.shops-city-mb.col-sm-4.align-items-center
					span.me-2.f-13px.p-0 Город:
					a.nav-link.f-13px.p-0.text-nowrap.text-decoration-underline.text-black.p-0(href="#" role="button") Москва
				.col-12.nav-item.dropdown.d-flex.shops-column.col-sm-4
					a.nav-link.dropdown-toggle.f-13px.text-black.drop-menu-shop.shop-mb-toggle#navbarOrderTablet(href="#" role="button" aria-haspopup="true" aria-expanded="false") Станция метро
					.dropdown-menu.ps-7.py-4.pe-7.f-9px
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Жулебино
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Строгино
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Ясенево
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Сходненская
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") Речной Вокзал
					a.nav-link.dropdown-toggle.f-13px.text-black.drop-menu-shop#navbarOrderTablet(href="#" role="button" aria-haspopup="true" aria-expanded="false") Формат магазина
					.dropdown-menu.ps-7.py-4.pe-7.f-9px
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") 1
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") 2
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") 3
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") 4
						a.d-block.text-nowrap.text-decoration-none.text-black.mb-2(href="#") 5
			.row.shops-mb
				.col-12.col-xxxl-6
					+ShopList()
				.d-block.d-sm-none
					+Pagination()
				.col-6.col-xxxl-6.d-none-shop-mobile
					.d-flex.flex-row.shops-column-icon.align-items-center
						p.margin-shop-icon.d-flex
							a.d-block.text-decoration-none.text-black(href="#")
								img(src='/src/images/shops-icon-01.svg')
								.d-flex.text-decoration-none.text-black.f-13px.line-height-1.icon-w-shop Фирменный магазин
						p.margin-shop-icon.d-flex
							a.d-block.text-nowrap.text-decoration-none.text-black(href="#")
								img(src='/src/images/shops-icon-02.svg')
								.d-block.text-nowrap.text-decoration-none.text-black.f-13px.line-height-1 Аутлет
						p.margin-shop-icon.d-flex
							a.d-block.text-nowrap.text-decoration-none.text-black(href="#")
								img(src='/src/images/shops-icon-03.svg')
								.d-block.text-nowrap.text-decoration-none.text-black.f-13px.line-height-1 Дисконт
		+Feedback()