extends ../templates/layout
include ../organisms/feedback
include ../organisms/breadcrumb-and-title
include ../atoms/metro-icon
include ../molecules/shop-address
include ../atoms/input
include ../organisms/shops-item

block main
	main.mil-margin-left-side-menu.mil-margin-top-header
		section.pt-15.ps-17.pe-9
			+BreadcrumbAndTitle({breadcrumb: ['Главная', 'Магазины'], title: 'Магазины', classTitle: 'mb-10'})
		
		+ShopItem()
		+Feedback()