.mil
	&-main-center-carousel
		&-section
			background-color: $gray-100
			padding-bottom: 100px
			position: relative
			z-index: 1
			.slick-dots
				right: 0
				left: 0
				bottom: -30px
				margin: auto
				width: 241px
				li
					&.slick-active
						button
							background-color: $black
						&:hover
							button
								background-color: $primary
		&-item
			padding: 50px 0 60px 0
			text-align: center
			background: no-repeat center center
			background-size: cover
			min-height: 257px
			color: $white
			position: relative
			font-family: 'montserratregular'
			font-weight: normal
			font-size: 13px
			line-height: 16px
			&:before
				content: ""
				z-index: 1
				background-color: $gray-300
				@include absolute-size
			&-content
				position: relative
				z-index: 2
			.h2
				width: 280px
				margin-left: auto
				margin-right: auto

@media (min-width: 768px)
	.mil
		&-main-center-carousel
			&-item
				font-size: 25px
				line-height: 34px
				min-height: 531px
				padding: 130px 0 145px 0
				.h2
					width: auto
			&-section
				.slick-dots
					width: 615px
					bottom: -55px

@media (min-width: 992px)
	.mil
		&-main-center-carousel
			&-item
				font-size: 30px
				line-height: 34px
				min-height: 531px
				padding: 130px 0 145px 0
			&-section
				.slick-dots
					width: 615px
					bottom: -55px

@media (min-width: 1200px)
	.mil
		&-main-center-carousel
			&-item
				font-size: 25px
				line-height: 34px
				min-height: 531px
				padding: 145px 0 150px 0
			&-section
				.slick-dots
					bottom: -65px
					width: 552px

@media (min-width: 1400px)
	.mil
		&-main-center-carousel
			&-item
				font-size: 30px
				line-height: 34px
				min-height: 531px
				padding: 140px 0 145px 0
			&-section
				.slick-dots
					width: 615px
					bottom: -70px

@media (min-width: 1600px)
	.mil
		&-main-center-carousel
			&-item
				font-size: 30px
				line-height: 34px
				min-height: 531px
			&-section
				.slick-dots
					width: 615px
					bottom: -70px

