.mil
	&-main-center-carousel
		&-section
			background-color: $gray-100
			padding-bottom: 180px
		&-item
			padding: 142px 0 144px 0
			text-align: center
			background: no-repeat center center
			background-size: cover
			min-height: 531px
			color: $white
			position: relative
			&:before
				content: ""
				display: block
				position: absolute
				top: 0
				left: 0
