.mil-product-carousel-position-right
	padding-top: 80px
	background-color: $gray-100
	position: relative
	overflow: hidden
	margin-top: -130px
	.mil-carousel-arrows
		display: none
		.slick-arrow
			&.slick
				&-prev
					background-image: url(../images/slick-arrows.svg#arrow-left-black)
					&:hover
						background-image: url(../images/slick-arrows.svg#arrow-left-primary)
				&-next
					background-image: url(../images/slick-arrows.svg#arrow-right-black)
					&:hover
						background-image: url(../images/slick-arrows.svg#arrow-right-primary)
	.mil
		&-product
			&-carousel
				&-slick
					.slick-slide
						margin-right: 5px
				&-container
					background-color: $white
					position: absolute
					bottom: 0
					right: 0
					width: 100%
					padding: 50px 0 70px 20px
				&-bg
					position: relative
					width: 100%
					height: 574px
					background: no-repeat center center
					background-size: cover
					.title
						position: absolute
						top: 109px
						left: 0
						right: 0
						text-align: center

.mil-previously-you-watched
	.mil-product-carousel-position-right
		margin-top: 0
		padding-top: 0
		background-color: $white
		.mil-carousel-arrows
			top: 94px
		.mil
			&-product
				&-carousel
					&-container
						width: calc(100% - 20px)
						padding: 35px 0 45px 30px
					&-bg
						background-image: url(../images/carousel-woman.jpg)
						width: 100%
						height: 311px
						margin-bottom: 220px
						margin-right: 0
						.title
							left: 19px
							top: 62px
							text-align: left
							&-h
								font-size: 20px

@media (min-width: 768px)
	.mil-product-carousel-position-right
		padding-top: 0
		margin-top: 0
		.mil-carousel-arrows
			display: block
			top: 121px
			right: 40px
		.mil
			&-product
				&-carousel
					&-container
						width: 100%
						padding: 75px 0 15px 40px
					&-bg
						height: 765px
						margin-bottom: 0
						margin-right: 0
						.title
							left: 40px
							right: auto
							margin: initial
							top: 101px
	.mil-previously-you-watched
		.mil-product-carousel-position-right
			.mil-carousel-arrows
				top: 94px
			.mil
				&-product
					&-carousel
						&-container
							width: calc(100% - 40px)
							padding: 50px 0 80px 75px
						&-bg
							background-image: url(../images/carousel-woman.jpg)
							width: calc(100% - 230px)
							height: 495px
							margin-bottom: 255px
							margin-right: 230px
							.title
								left: 116px
								top: 72px
								&-h
									font-size: 31px

@media (min-width: 992px)
	.mil-product-carousel-position-right
		padding-top: 60px
		.mil-carousel-arrows
			top: 237px
			right: 45px
		.mil
			&-product
				&-carousel
					&-container
						width: calc(100% - 140px)
						padding: 65px 0 30px 80px
					&-bg
						background-image: url(../images/carousel-woman.jpg)
						width: calc(100% - 300px)
						height: 545px
						margin-bottom: 280px
						margin-right: 300px
						.title
							left: 222px
							top: 164px

	.mil-previously-you-watched
		.mil-product-carousel-position-right
			padding-top: 0
			.mil-carousel-arrows
				top: 106px
			.mil
				&-product
					&-carousel
						&-container
							width: calc(100% - 315px)
							padding: 50px 0 0 55px
						&-bg
							background-image: url(../images/carousel-woman.jpg)
							width: calc(100% - 250px)
							height: 495px
							margin-bottom: 187px
							margin-right: 250px
							.title
								left: 367px
								top: 84px
								&-h
									font-size: 31px

@media (min-width: 1200px)
	.mil-product-carousel-position-right
		padding-top: 115px
		.mil-carousel-arrows
			top: 270px
			right: 45px
		.mil
			&-product
				&-carousel
					&-container
						width: calc(100% - 180px)
						padding: 75px 0 50px 80px
					&-bg
						width: calc(100% - 180px)
						height: 630px
						margin-bottom: 210px
						margin-right: 180px
						.title
							left: 260px
							top: 140px

@media (min-width: 1400px)
	.mil-product-carousel-position-right
		padding-top: 80px
		.mil-carousel-arrows
			top: 308px
			right: 45px
		.mil
			&-product
				&-carousel
					&-container
						width: calc(100% - 260px)
						padding: 90px 0 75px 80px
					&-bg
						width: calc(100% - 210px)
						height: 755px
						margin-bottom: 200px
						margin-right: 210px
						.title
							left: 345px
							top: 206px
	.mil-previously-you-watched
		.mil-product-carousel-position-right
			.mil-carousel-arrows
				top: 123px
			.mil
				&-product
					&-carousel
						&-container
							width: calc(100% - 315px)
							padding: 50px 0 0 55px
						&-bg
							background-image: url(../images/carousel-woman.jpg)
							width: calc(100% - 315px)
							height: 570px
							margin-bottom: 129px
							margin-right: 315px
							.title
								left: 367px
								top: 93px
								&-h
									font-size: 40px

@media (min-width: 1600px)
	.mil-product-carousel-position-right
		padding-top: 80px
		.mil-carousel-arrows
			top: 308px
			right: 45px
		.mil
			&-product
				&-carousel
					&-container
						width: calc(100% - 260px)
						padding: 90px 0 75px 80px
					&-bg
						width: calc(100% - 485px)
						height: 755px
						margin-bottom: 200px
						margin-right: 485px
						.title
							left: 345px
							top: 206px
	.mil-previously-you-watched
		.mil-product-carousel-position-right
			.mil-carousel-arrows
				top: 123px
			.mil
				&-product
					&-carousel
						&-container
							width: calc(100% - 315px)
							padding: 50px 0 60px 60px
						&-bg
							background-image: url(../images/carousel-woman.jpg)
							width: calc(100% - 715px)
							height: 570px
							margin-bottom: 190px
							margin-right: 715px
							.title
								left: 367px
								top: 94px
								&-h
									font-size: 40px
