include ../organisms/offcanvas

block variables
- let path = self.htmlWebpackPlugin.options

doctype html
html(lang="en")
	include ../organisms/head
	head
		+head(path.file)
		block head
	body.d-flex.flex-column.off-canvas-backdrop
		include ../organisms/header
		+Offcanvas()
		block main
		include ../organisms/footer
		//script(src="//cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js")
		//script(src="//cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js")
		//script(src="//cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js")
		//script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
		//script(src="//cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.1/dist/perfect-scrollbar.common.min.js")
		//script(src="//cdn.jsdelivr.net/npm/sticky-js@1.3.0/index.min.js")
		//script(src="//cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/gruntfile.min.js")
		//script(src="js/common.js")
		block scripts
