mixin MetroIcon(fill='#943f90')
	svg(width="16" height="11" version="1.1" viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
		path(fill= fill d="m4.8766 9.5178h0.84617v1.417h-5.6478v-1.417h0.14169 0.84023a0.1407 0.14091 0 0 0 0.15655-0.10816q1.6329-4.139 3.2698-8.2751l0.432-1.0916 3.1588 5.5382 3.1588-5.5372 0.324 0.8157q1.6904 4.273 3.3768 8.546a0.1516 0.15183 0 0 0 0.1724 0.1161c0.28338-0.00595 0.56676 0 0.85113 0h0.11791v1.4161h-5.6478v-1.4141h0.8432l-0.82933-2.3816-2.3701 3.9009-2.3701-3.8999z")
