mixin RadioCheckbox(data)
	.form-check(class!= data.class)
		input.form-check-input(type= data.type value="" id!= data.id disabled!= data.disabled name= data.name checked= data.checked)
		label.form-check-label(for!= data.id)= data.title
