mixin ShopList()
	- var list = [{buttonText: 'Посмотреть на карте', shopName: 'Выходной', shopAddress: 'г. Люберцы, Октябрьский пр., 112', shopPhones: '+7 (499) 2888-06-94', metroName: 'Жулебино', metroIconColor: '#943F90'},{buttonText: 'Посмотреть на карте', shopName: 'ригамолл'}