mixin Breadcrumb(data)
	nav(aria-label="breadcrumb")
		ol.breadcrumb
			each value, index in data
				- var isActive = index === data.length-1
				if isActive
					li.breadcrumb-item.active #{value}
				else
					li.breadcrumb-item #[a(href="#") #{value}]
