mixin MainCenterCarouselItem(data)
	.mil-main-center-carousel-item(style="background-image: url(" + data.image + ")")
		.mil-main-center-carousel-item-content
			p.mb-2.mb-md-4.mb-lg-6.mb-xl-7.mb-xxl-4= data.text1
			p.h2.text-uppercase.mb-6.mb-md-20.mb-lg-12.mb-xl-10.mb-xxl-11= data.text2
			.d-inline-block
				if data.buttonsCount === 1
					a.btn.btn-primary.mx-3(href="catalog.html") В каталог
				if data.buttonsCount === 2
					a.btn.btn-primary.mx-3(href="catalog.html") Женщины
					a.btn.btn-primary.mx-3(href="catalog.html") Мужчины
