mixin NewsPreviewItem(data)
	a.news-preview-item(style="background-image: url(" + data.image + ")" href="helpful-information-or-news-item.html")
		img.d-none(src= data.image alt="" title="")
		.news-preview-item-title
			span!= data.title
