mixin Pagination()
	nav.mb-xxxl-23.mb-xxl-21.mb-xl-15
		ul.pagination.justify-content-center
			li.page-item
				a.page-link(href="#")
			li.page-item.active
				a.page-link(href="#") 1
			li.page-item
				a.page-link(href="#") 2
			li.page-item.disabled
				a.page-link ...
			li.page-item
				a.page-link(href="#") 10
			li.page-item
				a.page-link(href="#")
