mixin RatingStars(rating)
	.rating-stars-block
		input.rating-stars(type="hidden" name="rating" value= rating)
		.rating-stars-container.mb-3
			i.i.i-star(data-rating="1")
			i.i.i-star(data-rating="2")
			i.i.i-star(data-rating="3")
			i.i.i-star(data-rating="4")
			i.i.i-star(data-rating="5")
