include ../atoms/radio-checkbox

mixin Feedback()
	section.mil-feedback-section.text-white.px-xxxl-9.px-xxl-5.px-lg-7.py-xxxl-18.py-xxl-14.py-lg-17.py-md-11.py-10.px-3
		form.row.align-items-lg-end.row-cols-auto.text-lg-start.text-center.flex-column.flex-lg-row.justify-content-between.h-100
			.col-auto
				p.h5.text-uppercase.mb-0.mil-feedback-title.mx-auto Подписаться на рассылку milana.shoes
			.col-auto.mx-md-auto.align-self-lg-center
				input.form-control.form-control-sm.border-bottom.border-white.text-white.mil-feedback-input(type="email" placeholder="Введите Ваш e-mail")
			.align-self-lg-center
				.row.align-items-center.flex-lg-column.flex-xxl-row.flex-row.justify-content-center
					.col-auto
						+RadioCheckbox({
							type: 'radio',
							title: 'Женщинам',
							id: 'woman',
							name: 'feedback',
							checked: true,
							class: 'form-check-white'
						})
					.col-auto
						+RadioCheckbox({
							type: 'radio',
							title: 'Мужчинам',
							id: 'man',
							name: 'feedback',
							class: 'form-check-white'
						})
			.align-self-lg-center.ms-lg-auto
				button.btn.btn-primary(type="button") Подписаться
