include ../atoms/radio-checkbox

mixin Feedback()
	section.mil-feedback-section
		+RadioCheckbox({type: 'radio', title: 'Женщинам', id: 'woman', name: 'feedback', checked: true, class: 'form-check-white'})
		+RadioCheckbox({type: 'radio', title: 'Мужчинам', id: 'man', name: 'feedback', class: 'form-check-white'})
