include ../atoms/footer-social-icon
- var socNames = ["i-instagram","i-fb","i-vk","i-ok","i-twitter","i-pinterest","i-youtobe"]

footer.bg-light.mil-margin-left-side-menu
	.container-fluid.pt-8.pt-lg-16.pt-xl-20.pt-xxl-16.pt-md-11.pt-xxxl-16
		.row.px-xxxl-10.px-xxl-6.justify-content-between
			.col-12.col-xxl-4.col-xxxl-3.order-1.order-lg-0.px-4.px-md-8.px-xxl-2.mb-lg-9.mb-xxl-0.ps-xxl-0
				.row.flex-column.flex-md-row.row-cols-md-3.align-items-md-start.flex-xxl-column.row-cols-xxl-1
					.col-auto.d-flex.flex-column
						.mil-footer-title-menu.mb-8.mb-md-15.mb-lg-8.mb-xxl-8.pt-xxl-2
							span.me-2 Контакты
							a.me-2(href="#").i.i-telegram.i-secondary
							a(href="#").i.i-whatsapp.i-secondary
						.d-none.d-md-block.d-lg-none
							img(src="images/yandex.svg" alt="" title="")
					.col-auto.mb-10.mb-xxl-11
						p.mil-footer-phones
							b +7 800 555 38 60
							br
							b +7 495 215 27 01
					.col-auto
						p.mb-0 Следите за нашими новостями<br>в социальных сетях:
						.mil-socials-container.mt-7.mt-md-4.mt-xxl-5.mb-xxl-8.mb-5.mb-md-15.mb-lg-4.mb-xl-2
							each name in socNames
								+FooterSocialIcon()(class= name)
						.d-md-none.mb-7
							img(src="images/yandex.svg" alt="" title="")
						.d-flex.d-md-none.mb-6.mb-md-0
							img.icon-card-payments.me-4(src="images/logo-visa.svg" alt="" title="")
							img.icon-card-payments.me-4(src="images/logo-mastercard.svg" alt="" title="")
							img.icon-card-payments(src="images/logo-halva.svg" alt="" title="")

			.col-12.col-footer-accordion.order-0.order-lg-1.px-0.px-lg-8.px-xxl-0.mb-13.mb-md-14.mb-lg-0
				.accordion#accordionNav.px-0.d-lg-flex.justify-content-between.row-cols-lg-4.mb-lg-7
					.accordion-item
						.accordion-header#footerNavHeadingHelp
							button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target="#footerNavCollapseHelp" aria-expanded="true" aria-controls="footerNavCollapseHelp") Помощь
						.accordion-collapse.collapse.show#footerNavCollapseHelp(aria-labelledby="footerNavHeadingHelp" data-bs-parent="#accordionNav")
							nav.nav.flex-column
								a.nav-link(href="#") Оплата
								a.nav-link(href="#") Доставка
								a.nav-link(href="#") Возврат
								a.nav-link(href="#") Гарантия
								a.nav-link(href="#") Конфиденциальность
								a.nav-link(href="#") Договор оферты
								a.nav-link(href="#") Обработка данных
					.accordion-item
						.accordion-header#footerNavHeadingBuyers
							button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#footerNavCollapseBuyers" aria-expanded="false" aria-controls="footerNavCollapseBuyers") Покупателям
						.accordion-collapse.collapse#footerNavCollapseBuyers(aria-labelledby="footerNavHeadingBuyers" data-bs-parent="#accordionNav")
							nav.nav.flex-column
								a.nav-link(href="shops.html") Магазины
								a.nav-link(href="promotions.html") Акции
								a.nav-link(href="#") Информация о продукте
								a.nav-link(href="#") Система лояльности
								a.nav-link(href="#") Отписаться
					.accordion-item
						.accordion-header#footerNavHeadingPartners
							button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#footerNavCollapsePartners" aria-expanded="false" aria-controls="footerNavCollapsePartners") Партнерам
						.accordion-collapse.collapse#footerNavCollapsePartners(aria-labelledby="footerNavHeadingPartners" data-bs-parent="#accordionNav")
							nav.nav.flex-column
								a.nav-link(href="franchise.html") Франшиза
								a.nav-link(href="#") Оптовые продажи
								a.nav-link(href="#") Совместные покупки
								a.nav-link(href="#") Продажа кожи
								a.nav-link(href="#") Аренда площадей
								a.nav-link(href="#") Закупки
					.accordion-item
						.accordion-header#footerNavHeadingCompany
							button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#footerNavCollapseCompany" aria-expanded="false" aria-controls="footerNavCollapseCompany") Компания
						.accordion-collapse.collapse#footerNavCollapseCompany(aria-labelledby="footerNavHeadingCompany" data-bs-parent="#accordionNav")
							nav.nav.flex-column
								a.nav-link(href="#") Бренд
								a.nav-link(href="#") Компания
								a.nav-link(href="#") Новости
								a.nav-link(href="#") История
								a.nav-link(href="#") Работа
								a.nav-link(href="#") Медиа
								a.nav-link(href="#") Контакты
			.col-12.order-2.px-xxl-0.text-end.mb-xxl-9.mb-lg-11.px-8.d-none.d-lg-block
				.footer-yandex
					img(src="images/yandex.svg" alt="" title="")
			.col-12.py-6.border-top.px-4.order-3.px-xxl-0
				.d-flex.justify-content-between.mil-footer-bottom-block.mx-md-4.mx-xxl-0
					.d-flex.d-none.d-md-block
						img.me-4(src="images/logo-visa.svg" alt="" title="")
						img.me-4(src="images/logo-mastercard.svg" alt="" title="")
						img(src="images/logo-halva.svg" alt="" title="")
					.d-flex.flex-column.flex-md-row
						p.me-md-6.me-lg-19 © 2020 ООО “Milana Shoes”
						p Создание и разработка сайта
