header.position-fixed.top-0.start-0.end-0
	.container-fluid
		.row
			.col-auto.bg-primary.px-0
				.mil-menu-width.d-flex.justify-content-center.align-items-center
					a.mil-offcanvas-btn.d-none.d-md-block.d-xl-none(data-target="#offcanvasScrolling" aria-controls="offcanvasScrolling")
						i.i.i-humburget
					a.mil-header-logo
			.col.mil-top-side-menu
				.d-flex.align-items-center.h-100
					.col-auto.d-none.d-lg-block
						form.me-xxl-5.me-xxxl-13
							input.form-control.form-control-sm.mil-search-input.border-bottom.border-black(type="text" placeholder="Искать товары")
					.col-auto.d-none.d-xl-block
						.d-flex
							a.me-2(href="tel:+78005553860") +7 800 555 38 60
							a.me-2(href="#")
								i.i.i-telegram
							a.me-2(href="#")
								i.i.i-whatsapp
					.col-auto.ms-auto
						.d-flex
							a(href="#")
								i.i.i-profile
								span User
							a(href="#")
								i.i.i-favorite
								span 99+
							a.me-md-0(href="#")
								i.i.i-basket
								span 1
								span.d-none.d-md-inline  | 5 990 ₽
					.col-auto.d-md-none
						a.mil-offcanvas-btn(data-target="#offcanvasScrolling" aria-controls="offcanvasScrolling")
							i.i.i-humburget

