header.position-fixed.top-0.start-0.end-0
	.container-fluid
		.row
			.col-auto.bg-primary.px-0
				.mil-menu-width.d-flex.justify-content-center(data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling")
					a.mil-header-logo
			.col.bg-light

