header.position-fixed.top-0.start-0.end-0
	.container-fluid
		.row
			.col-auto.bg-primary.px-0
				.mil-menu-width.d-flex.justify-content-center.align-items-center
					a.mil-offcanvas-btn.d-none.d-md-block.d-xl-none(data-target="#offcanvasScrolling" aria-controls="offcanvasScrolling")
						i.i.i-menu
					a.mil-header-logo(href="index.html")
			.col.mil-top-side-menu
				.d-flex.align-items-center.h-100
					.col-auto.d-none.d-lg-block
						form.me-xxl-6.me-xxxl-14
							input.form-control.form-control-sm.mil-search-input.border-bottom.border-black(type="text" placeholder="Искать товары")
					.col-auto.d-none.d-xxl-block.pe-xxxl-7
						.dropdown.dropdown-city
							a.dropdown-toggle.justify-content-center(href="#" role="button" id="dropdownCity" data-bs-toggle="dropdown" aria-expanded="false") Калининград
							.dropdown-menu
					.col-auto.d-none.d-xxl-block
						.d-flex
							a.me-3(href="tel:+78005553860") +7 800 555 38 60
							a.me-3(href="#")
								i.i.i-telegram.i-s-20
							a.me-3(href="#")
								i.i.i-whatsapp.i-s-20
					.col-auto.ms-auto
						.d-flex
							a(href="profile.html")
								i.i.i-profile
								span User
							a(href="favorites.html")
								i.i.i-favorite
								span 99+
							a.me-md-0(href="basket.html")
								i.i.i-basket
								span 1
								.d-none.d-md-inline-block.border-black.border-start.border-2.mx-2.pt-3
								span.d-none.d-md-inline 5 990 ₽
					.col-auto.d-md-none
						a.mil-offcanvas-btn(data-target="#offcanvasScrolling" aria-controls="offcanvasScrolling")
							i.i.i-menu

