mixin Instagram()
	section.mil-instagram-section
		.mil-instagram-right-container-top
			.mt-auto
				p.h4.text-primary.text-uppercase # milana.shoes
				p.mb-0 Будь в курсе всех событий!
		.mil-instagram-images-container
			img(src="images/insta-01.jpg" alt="" title="")
			img(src="images/insta-02.jpg" alt="" title="")
			img(src="images/insta-03.jpg" alt="" title="")
			img(src="images/insta-04.jpg" alt="" title="")
			img(src="images/insta-05.jpg" alt="" title="")
		.mil-instagram-right-container-bottom
			.mb-auto.w-100
				a.btn.btn-outline-primary(href="#") Перейти
