mixin Offcanvas()
	.off-canvas.off-canvas-start.show.overflow-hidden#offcanvasScrolling(data-scroll="true" data-backdrop="true" tabindex="-1")
		.off-canvas-body.mil-scroll-bar(data-scroll-index="offCanvasBody")
			nav.nav.flex-column
				li.nav-item.nav-sub-item.active
					a.nav-link(href="catalog.html") Женщинам
					ul.nav.flex-column
						li.nav-item
							a.nav-link(href="catalog.html") Все товары
						li.nav-item
							a.nav-link(href="catalog.html") Новинки
						li.nav-item
							a.nav-link(href="catalog.html") Распродажа
						li.nav-item
							a.nav-link(href="catalog.html") Обувь
							ul.nav.flex-column
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="606") Босоножки
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="278") Ботильоны
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="593") Ботинки
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="55") Мокасины
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="709") Полуботинки
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="78") Полусапоги
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="60") Сабо
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="131") Сандалии
						li.nav-item
							a.nav-link(href="catalog.html") Сумки
						li.nav-item
							a.nav-link(href="catalog.html") Аксессуары
						li.nav-item
							a.nav-link(href="catalog.html") Уход за обувью
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Мужчинам
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Сумки
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Аксессуары
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Уход за обувью
				li.nav-item
					a.nav-link(href="#") аКЦИИ
				li.nav-item
					a.nav-link(href="#") ОБРАЗЫ
				li.nav-item
					a.nav-link(href="#") Магазины
				li.nav-item.nav-sub-item
					a.nav-link(href="#") покупателям
