mixin Offcanvas()
	.offcanvas.offcanvas-start.show#offcanvasScrolling(data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1")
		.offcanvas-body
			nav.nav.flex-column
				a.nav-link(href="#") Женщинам
				a.nav-link(href="#") Мужчинам
				a.nav-link(href="#") Сумки
				a.nav-link(href="#") Аксессуары
				a.nav-link(href="#") Уход за обувью
				a.nav-link(href="#") аКЦИИ
				a.nav-link(href="#") ОБРАЗЫ
				a.nav-link(href="#") Магазины
				a.nav-link(href="#") покупателям
