mixin Offcanvas()
	.off-canvas.off-canvas-start.show.overflow-hidden#offcanvasScrolling(data-scroll="true" data-backdrop="true" tabindex="-1")
		.off-canvas-body.mil-scroll-bar(data-scroll-index="offCanvasBody")
			nav.nav.flex-column.mb-xxl-0.mb-xl-20.mb-md-28.mb-10
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Женщинам
					ul.nav.flex-column
						li.nav-item
							a.nav-link(href="catalog.html") Все товары
						li.nav-item
							a.nav-link(href="catalog.html") Новинки
						li.nav-item
							a.nav-link(href="catalog.html") Распродажа
						li.nav-item
							a.nav-link(href="catalog.html") Обувь
							ul.nav.flex-column
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="606") Босоножки
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="278") Ботильоны
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="593") Ботинки
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="55") Мокасины
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="709") Полуботинки
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="78") Полусапоги
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="60") Сабо
								li.nav-item
									a.nav-link.nav-badge(href="catalog.html" data-badge="131") Сандалии
						li.nav-item
							a.nav-link(href="catalog.html") Сумки
						li.nav-item
							a.nav-link(href="catalog.html") Аксессуары
						li.nav-item
							a.nav-link(href="catalog.html") Уход за обувью
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Мужчинам
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Сумки
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Аксессуары
				li.nav-item.nav-sub-item
					a.nav-link(href="catalog.html") Уход за обувью
				li.nav-item
					a.nav-link(href="promotions.html") аКЦИИ
				li.nav-item
					a.nav-link(href="#") ОБРАЗЫ
				li.nav-item
					a.nav-link(href="shops.html") Магазины
				li.nav-item.nav-sub-item
					a.nav-link(href="#") покупателям
			.d-md-none.mb-7.py-5.bg-light.off-canvas-search.px-4
				form
					input.form-control.form-control-sm.mil-search-input.border-bottom.border-black(type="text" placeholder="Искать товары")
			.d-xxl-none.off-canvas-contacts.text-center
				.dropdown.dropdown-city.mb-2
					a.dropdown-toggle.justify-content-center(href="#" role="button" id="dropdownCity" data-bs-toggle="dropdown" aria-expanded="false") Калининград
					.dropdown-menu
				.d-flex.align-items-center.justify-content-center
					a.off-canvas-phone.me-3(href="tel:+78005553860") +7 800 555 38 60
					a.me-3(href="#")
						i.i.i-telegram.i-s-20
					a(href="#")
						i.i.i-whatsapp.i-s-20
