include ../molecules/product-preview-item

mixin ProductCarousel(data)
	section.mil-product-carousel-section(class="mil-product-carousel-position-" + data.type)
		.mil-product-carousel-bg
			.title
				h2.text-white.text-uppercase(class= data.titleClass)= data.title
		.mil-product-carousel-slick-arrows.mil-carousel-arrows
		.mil-product-carousel-container
			.mil-product-carousel-slick(data-type= data.type)
				each item in data.items
					+ProductPreviewItem(item)
