mixin ReviewEdit()
	.offcanvas.offcanvas-end.off-canvas-review-edit(tabindex="-1" id="offcanvasReviewEdit" aria-labelledby="offcanvasReviewEditLabel")
		.offcanvas-header
			button.btn-close.text-reset(data-bs-dismiss="offcanvas" aria-label="Close" type="button")
		.offcanvas-body.pt-0
			.mil-scroll-bar(data-scroll-index="offCanvasReviewEdit")
				h5.offcanvas-title#offcanvasReviewEditLabel оставить отзыв
				form.row
