mixin ContactUsCompany(data)
	section.ps-xxxl-18.ps-xxl-14.ps-xl-12.ps-lg-9.ps-md-8.pb-md-0.pb-18.pe-md-0.px-2
		.container-fluid
			.row
				.col-xxl-3.col-md-4.col-12.pe-xxl-22.pt-md-28
					p.h8.f-extrabold.text-uppercase свяжитесь с нами
				.col-xxl-9.col-md-8.col-12
					.row
						- var n = 0;
						while n < 2
							- n++;
							.col-xxl-6.col-12.bg-md-light.pt-md-28.pt-8.ps-xxxl-27.ps-md-12.pb-lg-33.pb-md-14.f-medium.f-14px
								.d-flex.flex-column.flex-md-row
									.manager-avatar.me-7.mb-6
									div
										p.d-flex.align-items-center
											span.text-uppercase.me-xxxl-10.me-auto.f-extrabold кара диана
											a(href="#").i.i-telegram.me-2
											a(href="#").i.i-whatsapp.me-2
										p.f-mediumitalic Менеджер по персоналу
										p +7 (800) 333-12-85
											br
											| +7 (926) 945-79-76
										p job@milana-shoes.ru
